body {
  background-color: white; }

.stripe__container {
  top: 0;
  width: auto;
  height: 100%;
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -9; }

.skew, .stripe, .stripe--right, .nav__list--item a:hover:after, .featured-video__title:after {
  -webkit-transform: skew(-18.25deg);
  -moz-transform: skew(-18.25deg);
  -o-transform: skew(-18.25deg); }

.stripe {
  position: absolute;
  width: 1000px;
  height: 100%; }

.stripe--right {
  position: absolute;
  width: 175px;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif; }

h1, h2, h3 {
  text-transform: uppercase; }

.oswald, .nav--main, .marketing-promo__caption {
  font-family: 'Oswald', sans-serif; }

.header {
  position: relative;
  height: 95px;
  z-index: 999;
  border-bottom: 1px solid #d5d7d5;
  transition: height 0.3s; }
  @media only screen and (max-width: 1100px) {
    .header {
      height: 45px; } }

.header > .container {
  position: relative; }

.logo {
  width: 280px;
  height: 95px;
  background-image: url("../img/logo.svg");
  background-position: 2px 24px;
  background-size: 335px;
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }
  @media only screen and (max-width: 1100px) {
    .logo {
      width: 45px;
      height: 45px;
      background-size: 260px;
      background-position: -214px -4px; } }
  @media only screen and (max-width: 992px) {
    .logo {
      margin: 0 auto;
      width: 250px;
      background-position: -3px -8px;
      background-size: 315px; } }

.nav--main {
  font-size: 1.15em;
  letter-spacing: 1px;
  position: absolute;
  right: 0;
  top: 50px;
  text-transform: uppercase; }
  @media only screen and (max-width: 1100px) {
    .nav--main {
      top: 12px;
      right: 230px; } }
  @media only screen and (max-width: 992px) {
    .nav--main {
      display: none; } }

.nav__list {
  list-style: none;
  padding-left: 0;
  margin-left: -5px; }

.nav__list--item {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  color: #01348d;
  margin-left: 1.5em; }

.nav__list--item a:hover {
  text-decoration: none;
  color: #b71234; }

.nav__list--item a:hover:after {
  content: '';
  display: block;
  background-color: #01348d;
  width: auto;
  height: 4px;
  margin: 20px auto 0; }

.nav-icon, .facebook, .twitter, .youtube, .search {
  background-image: url("../img/bowl-sprites.svg");
  background-size: 330px;
  background-repeat: no-repeat;
  background-color: transparent;
  display: block; }

.nav--secondary {
  position: absolute;
  right: 0;
  top: 12px; }

.nav-small-icon {
  font-size: 0.6em;
  padding-top: 27px;
  text-align: center;
  height: 30px;
  width: 30px;
  background-image: url("../img/bowl-sprites.svg");
  background-size: 300px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 1px -55px;
  position: absolute;
  top: 6px;
  display: none; }
  @media only screen and (max-width: 992px) {
    .nav-small-icon {
      display: block; } }

.secondary-links {
  display: inline-block;
  position: relative; }

.login {
  text-indent: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85em;
  letter-spacing: 0.5px;
  color: #b0b3b1;
  text-transform: uppercase;
  width: auto;
  background-position: -5px -5px;
  padding: 0 15px 0 23px;
  line-height: 20px; }
  @media only screen and (max-width: 1100px) {
    .login {
      text-indent: -9999px;
      padding-right: 10px; } }

a.login:hover {
  text-decoration: none;
  background-position: -5px -35px; }

.social-links {
  list-style-type: none;
  display: inline-block;
  margin: 0 12px 0 0;
  padding: 0;
  top: -2px; }

.social-links > li {
  text-indent: -9999px;
  display: inline-block;
  padding: 0; }

.facebook {
  width: 21px;
  height: 21px;
  background-position: -94px -6px; }

.facebook:hover {
  background-position: -94px -36px; }

.twitter {
  width: 21px;
  height: 21px;
  background-position: -125px -6px; }

.twitter:hover {
  background-position: -125px -36px; }

.youtube {
  height: 21px;
  width: 26px;
  background-position: -153px -7px; }

.youtube:hover {
  background-position: -153px -37px; }

.search {
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-position: -180px -5px;
  top: -1px; }

.search:hover {
  background-position: -180px -35px; }

.banner {
  height: 130px;
  position: relative; }

.banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.banner-large {
  display: block; }
  @media only screen and (max-width: 1100px) {
    .banner-large {
      display: none; } }

.banner-small {
  display: none; }
  @media only screen and (max-width: 1100px) {
    .banner-small {
      display: block; } }

.banner .stripe {
  left: -800px;
  background-color: gray;
  opacity: 0.125; }

.banner .stripe + .stripe {
  left: -740px;
  background-color: gray;
  opacity: 0.125; }

.slider {
  height: 400px;
  position: relative; }

.slider-image__container {
  position: relative;
  height: 400px;
  max-width: 1080px;
  overflow: hidden; }

.slider img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; }

.slider .stripe {
  left: -888px;
  background-color: #01348d;
  opacity: 1.0; }

.slider .stripe + .stripe {
  left: -828px;
  background-color: #01348d;
  opacity: 0.5; }

.slider .stripe--right {
  right: -20px;
  width: 180px;
  background-color: #01348d;
  opacity: 1.0; }

.slider .stripe--right + .stripe--right {
  right: -20px;
  width: 240px;
  background-color: #01348d;
  opacity: 0.5; }

.slider .stripe--right + .stripe--right + .stripe--right {
  right: -660px;
  width: 640px;
  background-color: #FFF;
  opacity: 1.0; }

.quick-links {
  position: relative; }

.quick-links .row {
  padding-top: 3em; }

.quick-link {
  display: block;
  margin: 2em auto; }

.quick-link:hover {
  text-decoration: none; }

.quick-link:hover .quick-link__title {
  color: #01348d;
  text-decoration: none; }

.quick-link__image {
  display: block;
  margin: 0 auto; }

.quick-link__title {
  font-size: 1.2em;
  line-height: 1.3em;
  color: #75777a;
  text-align: center;
  margin: .75em 0 0; }

.main-content .stripe {
  left: -974px;
  background-color: gray;
  opacity: 0.125; }

.main-content .stripe + .stripe {
  left: -914px;
  background-color: gray;
  opacity: 0.125; }

.marketing-promo {
  overflow: hidden;
  position: relative;
  padding: 0 45px; }

.marketing-promo__caption {
  font-size: 1.3em;
  line-height: 1.4em;
  color: #FFF;
  text-transform: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 20px;
  padding: 1em;
  margin: 0 45px;
  background-color: rgba(0, 0, 0, 0.6); }

.top-news {
  padding: 0 45px;
  height: 300px; }

.top-news__title, .top-news__summary {
  background-color: #e3e4e3;
  padding: 0 45px; }

.top-news__title {
  color: #75777a;
  text-align: center; }

.news .news-ad {
  display: block; }

.news-sponsor {
  padding: 0 45px; }

.news-sponsor__image {
  display: block; }

.featured-video {
  text-align: center;
  background-color: #b0b3b1;
  padding: 2em 0 4em;
  overflow: hidden; }

.featured-video__title {
  color: #FFF;
  font-size: 3em;
  line-height: 2em;
  letter-spacing: 1.5px;
  margin-bottom: 1em; }

.featured-video__title:after {
  content: '';
  display: block;
  background-color: #FFF;
  width: 1.5em;
  height: 0.12em;
  margin: 0 auto; }

.row {
  margin-bottom: 4em; }
