body {
  background-color: white; }

a:hover {
  text-decoration: none; }

.stripe__container {
  top: 0;
  width: auto;
  height: 100%;
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -9; }

.skew, .stripe, .stripe--right, .section__title:after, .nav__list--item a.has-children:hover:after, .marketing-promo__detail, .featured-video__title:after, .cta__header:after {
  -webkit-transform: skew(-18.25deg);
  -moz-transform: skew(-18.25deg);
  -o-transform: skew(-18.25deg); }

.no-skew, .marketing-promo__detail p {
  -webkit-transform: skew(18.25deg);
  -moz-transform: skew(18.25deg);
  -o-transform: skew(18.25deg); }

.skew-reset, .nav__list--item a.has-children:hover:after {
  -webkit-transform: skew(0deg);
  -moz-transform: skew(0deg);
  -o-transform: skew(0deg); }

.stripe {
  position: absolute;
  width: 1000px;
  height: 100%; }

.stripe--right {
  position: absolute;
  width: 175px;
  height: 100%; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif; }

h1, h2, h3 {
  text-transform: uppercase; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

.bold {
  font-weight: bold; }

.oswald, .button, .button--cta, .nav-main, .login__submit, .marketing-promo__caption, .top-news__summary {
  font-family: 'Oswald', sans-serif; }

.opensans, .article__title {
  font-family: 'Open Sans', sans-serif; }

.section__title {
  color: #75777a;
  font-size: 3.3em;
  line-height: 1.75em;
  padding: 0 0 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px; }

.section__title:after {
  content: '';
  display: block;
  background-color: #75777a;
  width: 65px;
  height: 5px;
  margin: 0 auto; }

.button, .button--cta {
  display: inline-block;
  padding: 11px 33px;
  margin: 0;
  background-color: #FFF;
  color: #75777a;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px; }

.button:hover, .button--cta:hover, button:active, button:focus, button:visited {
  text-decoration: none; }

.footer {
  background-color: #01348d; }

.header {
  position: relative;
  height: 95px;
  z-index: 999;
  border-bottom: 1px solid #d5d7d5;
  overflow: visible;
  transition: height 0.3s; }
  @media only screen and (max-width: 1100px) {
    .header {
      height: 45px; } }
  @media only screen and (max-width: 992px) {
    .header {
      padding: 0;
      overflow: hidden;
      position: fixed;
      width: 100%;
      background-color: #FFF; } }

.header .container {
  position: relative; }
  @media only screen and (max-width: 992px) {
    .header .container {
      padding: 0 0px; } }
  @media only screen and (max-width: 768px) {
    .header .container {
      padding: 0 15px; } }

.logo {
  width: 288px;
  height: 95px;
  background-image: url("../img/logo.svg");
  background-position: -3px 22px;
  background-size: 360px;
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }
  @media only screen and (max-width: 1100px) {
    .logo {
      width: 45px;
      height: 45px;
      background-size: 260px;
      background-position: -214px -4px; } }
  @media only screen and (max-width: 992px) {
    .logo {
      margin: 0 auto;
      width: 250px;
      background-position: -3px -8px;
      background-size: 315px; } }

.nav-main {
  font-size: 1.1em;
  letter-spacing: 0.8px;
  position: absolute;
  right: 10px;
  top: 52px;
  text-transform: uppercase;
  transition: height 2.5s; }
  @media only screen and (max-width: 1100px) {
    .nav-main {
      top: 12px;
      right: 230px; } }
  @media only screen and (max-width: 992px) {
    .nav-main {
      position: fixed;
      display: none;
      top: 45px;
      left: 0;
      width: 100%;
      height: 10px;
      background-color: #75777a;
      font-family: "Open Sans", sans-serif; } }

.nav-main.open {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%; }

.nav__list {
  list-style: none;
  padding-left: 0;
  margin-left: -5px;
  height: 22px;
  transition: left 0.5s; }
  @media only screen and (max-width: 992px) {
    .nav__list {
      width: 750px;
      margin: 0 auto;
      padding: 0; } }
  @media only screen and (max-width: 768px) {
    .nav__list {
      width: 100%; } }

.nav-main.open .nav__list {
  transition: left 0.5s;
  left: 0; }

@media only screen and (max-width: 992px) {
  .nav-main.open.left .nav__list {
    position: absolute;
    left: -100%; } }

.nav__list--item {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 1.5em; }
  @media only screen and (max-width: 992px) {
    .nav__list--item {
      display: block;
      margin: 10px 0px;
      border-bottom: 1px solid #555; } }
  @media only screen and (max-width: 768px) {
    .nav__list--item {
      margin: 10px 15px; } }
  @media only screen and (max-width: 480px) {
    .nav__list--item {
      margin: 10px 15px; } }

.nav__list--item a {
  color: #01348d;
  font-weight: 400; }
  @media only screen and (max-width: 992px) {
    .nav__list--item a {
      font-weight: 300;
      color: #FFF;
      padding: 5px 0 15px;
      display: block;
      position: relative;
      margin: 0; } }

@media only screen and (max-width: 992px) {
  .nav__list--item a.has-children:after {
    padding: 10px 0;
    display: block;
    position: absolute;
    top: -8px;
    right: -10px;
    content: url("../img/arrow-rt.png");
    width: 30px;
    height: 40px;
    background-color: transparent;
    overflow: hidden; } }

.nav__list--item a:focus {
  text-decoration: none; }

.nav__list--item a:hover {
  text-decoration: none;
  color: #b71234; }
  @media only screen and (max-width: 992px) {
    .nav__list--item a:hover {
      color: #01348d; } }

.nav__list--item a.has-children:hover:after {
  content: '';
  display: block;
  background-color: #01348d;
  width: auto;
  height: 4px;
  margin: 17px auto 0; }
  @media only screen and (max-width: 992px) {
    .nav__list--item a.has-children:hover:after {
      position: absolute;
      top: -8px;
      right: -10px;
      width: 30px;
      height: 40px;
      margin: 0;
      padding: 10px 0;
      content: url("../img/arrow-rt.png");
      background-color: transparent; } }

.nav-icon, .facebook, .twitter, .youtube, .nav-icon.search {
  background-image: url("../img/bowl-sprites.svg");
  background-size: 330px;
  background-repeat: no-repeat;
  background-color: transparent;
  display: block; }

.nav-small-icon {
  font-size: 0.6em;
  padding-top: 27px;
  text-indent: -9999px;
  height: 30px;
  width: 30px;
  background-image: url("../img/bowl-sprites.svg");
  background-size: 300px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 1px -55px;
  position: absolute;
  top: 9px;
  display: none; }
  @media only screen and (max-width: 992px) {
    .nav-small-icon {
      display: block; } }

.nav-small-icon.open {
  background-position: -53px -80px; }

.nav-secondary {
  position: absolute;
  right: 10px;
  top: 12px; }
  @media only screen and (max-width: 992px) {
    .nav-secondary {
      right: 20px; } }

.social-links {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 82px;
  top: -2px;
  right: 48px; }
  @media only screen and (max-width: 992px) {
    .social-links {
      display: none; } }

.social-links > li {
  text-indent: -9999px;
  display: inline-block;
  margin: 0 1px;
  padding: 0; }

.facebook {
  width: 21px;
  height: 21px;
  background-position: -94px -6px; }

.facebook:hover {
  background-position: -94px -36px; }

.twitter {
  width: 21px;
  height: 21px;
  background-position: -125px -6px; }

.twitter:hover {
  background-position: -125px -36px; }

.youtube {
  height: 21px;
  width: 26px;
  background-position: -153px -7px; }

.youtube:hover {
  background-position: -153px -37px; }

@media only screen and (max-width: 992px) {
  .nav-dropdown {
    position: relative;
    top: -1px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 45px;
    z-index: 99;
    background-color: #75777a;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    transition: left .25s, height .5s; } }

@media only screen and (max-width: 992px) {
  .nav-dropdown.open {
    left: 0; } }

@media only screen and (max-width: 992px) {
  .nav-dropdown.close {
    width: 100%;
    height: 0; } }

.dropdown-wrapper {
  background-color: #FFF;
  width: 100%;
  height: 100%;
  padding: 25px 30px;
  min-height: 260px;
  display: none; }
  @media only screen and (max-width: 992px) {
    .dropdown-wrapper {
      padding: 25px 15px; } }

.dropdown-wrapper.open {
  background-color: #FFF;
  left: 0; }

.dropdown-wrapper.bowlers {
  display: none;
  left: 100%;
  transition: left .25s; }

.dropdown-wrapper.bowlers.open {
  display: block; }
  @media only screen and (max-width: 992px) {
    .dropdown-wrapper.bowlers.open {
      background-color: #75777a;
      left: 0; } }

.dropdown-wrapper.bowlers.left {
  display: block;
  left: -100%;
  margin: 0;
  padding: 0; }

.dropdown-wrapper.youth {
  display: none; }
  @media only screen and (max-width: 992px) {
    .dropdown-wrapper.youth {
      position: absolute;
      left: 100%;
      transition: left .25s; } }

.dropdown-wrapper.youth.open {
  display: block; }
  @media only screen and (max-width: 992px) {
    .dropdown-wrapper.youth.open {
      background-color: #75777a;
      position: absolute;
      left: 0; } }

.dropdown-wrapper.youth.left {
  display: block;
  position: absolute;
  left: -100%;
  margin: 0;
  padding: 0;
  background-color: #75777a; }

.dropdown-wrapper.youth-tournaments {
  display: none;
  position: absolute;
  left: 200%;
  transition: left .25s; }

.dropdown-wrapper.youth-tournaments.open {
  background-color: #75777a;
  display: block;
  position: absolute;
  padding-top: 0;
  top: -25px;
  left: 100%;
  transition: left .25s; }

.dropdown__links {
  position: absolute;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 70%; }
  @media only screen and (max-width: 992px) {
    .dropdown__links {
      width: 100%; } }

.dropdown__list--title {
  display: none; }
  @media only screen and (max-width: 992px) {
    .dropdown__list--title {
      display: block;
      text-align: center;
      font-size: 1.35em;
      letter-spacing: 1.25px;
      margin: -10px 0 0;
      padding-bottom: 16px;
      border-bottom: 1px solid #555; } }

.nav-level-3 .dropdown__list--title {
  margin-top: 13px; }

@media only screen and (max-width: 992px) {
  .dropdown__list--title:before {
    padding: 10px 0;
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    content: url("../img/arrow-lt.png");
    width: 30px;
    height: 40px;
    background-color: transparent;
    overflow: hidden; } }

.dropdown__list--title a {
  color: #b0b3b1;
  padding: 0;
  display: block;
  width: 100%; }

.dropdown__list--column {
  display: inline-block;
  vertical-align: top;
  width: auto;
  margin: 0 5em 0 0;
  padding: 0; }
  @media only screen and (max-width: 992px) {
    .dropdown__list--column {
      display: block;
      margin-right: 15px; } }

.dropdown__list--item {
  list-style-type: none;
  margin: 0 0 0.6em;
  padding: 0; }
  @media only screen and (max-width: 992px) {
    .dropdown__list--item {
      margin: 10px 15px 10px 0;
      border-bottom: 1px solid #555; } }

.dropdown__list--item > a {
  font-size: 1.1em;
  letter-spacing: 0.8px;
  font-weight: 400;
  color: #75777a;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 992px) {
    .dropdown__list--item > a {
      font-weight: 300;
      color: #FFF;
      padding: 5px 0 15px;
      display: block;
      position: relative;
      margin: 0; } }

@media only screen and (max-width: 992px) {
  .dropdown__list--item a.has-children:after {
    padding: 10px 0;
    display: block;
    position: absolute;
    top: -8px;
    right: -10px;
    content: url("../img/arrow-rt.png");
    width: 30px;
    height: 40px;
    background-color: transparent;
    overflow: hidden; } }

.dropdown-cta {
  display: inline-block;
  right: 30px;
  position: absolute;
  width: 220px;
  padding: 0;
  height: auto; }
  .dropdown-cta p {
    font-size: 0.85em;
    font-weight: 700;
    color: #b0b3b1;
    margin: 1em auto;
    padding: 0; }
  @media only screen and (max-width: 992px) {
    .dropdown-cta {
      display: none; } }

.login-container {
  position: absolute;
  right: -10px; }
  @media only screen and (max-width: 992px) {
    .login-container {
      display: none; } }

.login-toggle {
  position: absolute;
  right: 180px;
  text-indent: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85em;
  letter-spacing: 0.5px;
  color: #b0b3b1;
  text-transform: uppercase;
  width: 30px;
  background-position: -5px -5px;
  margin-left: 15px;
  padding: 0 15px 0 23px;
  line-height: 20px; }
  @media only screen and (max-width: 1100px) {
    .login-toggle {
      text-indent: -9999px;
      padding-right: 10px;
      right: 145px; } }

.login-toggle.open {
  color: #01348d;
  background-position: -5px -35px; }

a.login-toggle:hover {
  text-decoration: none;
  background-position: -5px -35px; }

a.login-toggle:active, a.login-toggle:focus {
  text-decoration: none; }

.login-wrapper {
  position: absolute;
  top: 20px;
  right: 0;
  display: block;
  width: 235px;
  margin: 0;
  padding: 0 20px;
  background-color: #FFF;
  border: 0;
  border-top: 0;
  transition: height 0.125s, margin 0.125s, opacity 0.125s;
  opacity: 0;
  height: 0;
  overflow: hidden; }

.login-wrapper.open {
  opacity: 1.0;
  height: 245px;
  margin: 12px 0 0 0;
  padding: 0 20px 16px;
  border: 1px solid #f3f3f3;
  border-top: 0; }

.login__instruction {
  padding-right: 30px;
  color: #b0b3b1;
  line-height: 1.3em;
  letter-spacing: 0.2px; }

.login__input--email, .login__input--password {
  display: block;
  width: 100%;
  margin: 0 0 .78em 0;
  padding: .37em .5em;
  background-color: #f1f1f1;
  border: 1px solid #e3e4e3;
  font-size: 0.96em;
  letter-spacing: 0.5px; }

.login__forgot {
  display: block;
  font-size: 0.82em;
  color: #01348d;
  letter-spacing: 0.4px;
  margin: -0.25em 0 1.05em; }

.login__submit {
  display: block;
  background-color: #01348d;
  border: 0 none;
  color: #FFF;
  font-size: 0.95em;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 34px;
  height: 37px;
  width: 100%;
  text-align: center;
  text-transform: uppercase; }

.login__create {
  font-size: 0.82em;
  margin: 0.6em 0 0.2em;
  display: block;
  letter-spacing: 0.4px; }
  .login__create a {
    display: block;
    margin-top: 0.1em;
    color: #01348d; }

.login-wrapper *:focus,
.login-wrapper *:active:focus {
  outline: none; }

.secondary-links.search-container {
  position: absolute;
  top: -5px;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 15px;
  transition: width 0.125s; }
  @media only screen and (max-width: 992px) {
    .secondary-links.search-container {
      right: -25px; } }
  @media only screen and (max-width: 768px) {
    .secondary-links.search-container {
      right: -10px; } }

.secondary-links.search-container.open {
  width: 240px;
  background-color: #e3e4e3;
  border: 1px solid #b0b3b1; }

.search.facebook, .search.twitter, .search.youtube, .search.nav-icon {
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-position: -185px -1px;
  right: 0; }

.search.facebook:hover, .search.twitter:hover, .search.youtube:hover, .search.nav-icon:hover, .search.open.facebook, .search.open.twitter, .search.open.youtube, .search.open.nav-icon {
  background-position: -185px -31px; }

.search__input {
  background-color: transparent;
  border: 0 none;
  display: inline-block;
  position: absolute;
  width: 190px;
  height: 26px;
  margin: 1px 15px; }

.search__button {
  background-color: transparent;
  border: 0 none;
  display: inline-block;
  position: absolute; }

.search__input:focus,
.search__input:active:focus,
.search__button:focus,
.search__button:active:focus {
  outline: none; }

.banner {
  overflow: hidden; }

.banner .container {
  height: 129px;
  position: relative; }
  @media only screen and (max-width: 992px) {
    .banner .container {
      margin-top: 45px; } }
  @media only screen and (max-width: 768px) {
    .banner .container {
      min-height: 100px; } }
  @media only screen and (max-width: 480px) {
    .banner .container {
      min-height: 65px; } }

.banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 992px) {
    .banner img {
      width: 100%; } }

.banner .stripe {
  left: -800px;
  background-color: gray;
  opacity: 0.125; }
  @media only screen and (max-width: 992px) {
    .banner .stripe {
      display: none; } }

.banner .stripe + .stripe {
  left: -740px;
  background-color: gray;
  opacity: 0.125; }
  @media only screen and (max-width: 992px) {
    .banner .stripe + .stripe {
      display: none; } }

.slider {
  overflow: hidden; }

.slider .container {
  height: 400px;
  position: relative; }
  @media only screen and (max-width: 992px) {
    .slider .container {
      height: 283px;
      padding: 0;
      overflow: hidden; } }

.slider-image__container {
  position: relative;
  height: 400px;
  max-width: 1080px;
  overflow: hidden; }

.slider img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; }
  @media only screen and (max-width: 992px) {
    .slider img {
      width: 100%;
      top: 0;
      transform: translate(-50%, 0); } }

.slider .stripe {
  left: -888px;
  background-color: #01348d;
  opacity: 1.0; }
  @media only screen and (max-width: 992px) {
    .slider .stripe {
      margin-left: -50%; } }

.slider .stripe + .stripe {
  left: -828px;
  background-color: #01348d;
  opacity: 0.5; }
  @media only screen and (max-width: 992px) {
    .slider .stripe + .stripe {
      margin-left: -50%; } }

.slider .stripe--right {
  right: -20px;
  width: 180px;
  background-color: #01348d;
  opacity: 1.0; }
  @media only screen and (max-width: 992px) {
    .slider .stripe--right {
      margin-right: -50%; } }

.slider .stripe--right + .stripe--right {
  right: -20px;
  width: 240px;
  background-color: #01348d;
  opacity: 0.5; }
  @media only screen and (max-width: 992px) {
    .slider .stripe--right + .stripe--right {
      margin-right: -50%; } }

.slider .stripe--right + .stripe--right + .stripe--right {
  right: -660px;
  width: 640px;
  background-color: #FFF;
  opacity: 1.0; }
  @media only screen and (max-width: 992px) {
    .slider .stripe--right + .stripe--right + .stripe--right {
      margin-right: -50%; } }

.quick-links {
  position: relative;
  padding: 0 45px; }
  @media only screen and (max-width: 768px) {
    .quick-links {
      padding: 0; } }

.quick-links .row {
  padding-top: 3em; }

.quick-link {
  display: block;
  margin: 2em auto; }

.quick-link:hover {
  text-decoration: none; }

.quick-link:hover .quick-link__title {
  color: #01348d;
  text-decoration: none; }

.quick-link__image {
  display: block;
  margin: 0 auto; }

.quick-link__title {
  font-size: 1.2em;
  line-height: 1.3em;
  color: #75777a;
  text-align: center;
  margin: .75em 0 0; }

.main-content {
  overflow: hidden; }
  @media only screen and (max-width: 992px) {
    .main-content {
      overflow: visible; } }

.main-content .wrapper {
  position: relative; }
  @media only screen and (max-width: 992px) {
    .main-content .wrapper {
      padding: 0;
      margin-right: 30px; } }

.marketing-promo-wrapper {
  margin-bottom: 2em; }

.marketing-promo {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 250px;
  max-width: 330px; }

.marketing-promo:hover {
  cursor: pointer; }

.marketing-promo__caption {
  font-size: 1.3em;
  line-height: 1.4em;
  color: #FFF;
  text-transform: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  min-height: 20px;
  padding: 1em;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9; }

.marketing-promo__image {
  width: 100%;
  height: auto;
  position: relative; }

.marketing-promo__detail {
  position: absolute;
  height: 300px;
  width: 500px;
  background-color: #01348d;
  top: 0;
  right: -170%;
  transition: right 0.25s;
  z-index: 9999;
  padding: 15px; }
  @media only screen and (max-width: 992px) {
    .marketing-promo__detail {
      right: -200%; } }

.marketing-promo__detail p {
  margin-left: 10%;
  padding: .5em;
  color: #FFF;
  font-size: 1.1em;
  line-height: 1.25em;
  font-weight: 300; }
  .marketing-promo__detail p .bold {
    margin-top: 1em;
    display: block;
    letter-spacing: .5px;
    text-transform: uppercase; }

.marketing-promo__detail.open {
  right: -30%; }

.top-news-wrapper {
  height: 250px;
  margin-bottom: 2em; }

.top-news {
  position: absolute;
  left: 22px;
  max-width: 330px;
  margin: 0 auto;
  background-color: #e3e4e3; }
  @media only screen and (max-width: 1200px) {
    .top-news {
      right: 0;
      left: 15px; } }

.top-news__title {
  color: #75777a;
  text-align: center;
  font-size: 1.3em;
  height: 13px;
  line-height: 13px;
  padding: 0; }

.top-news__image {
  width: 100%;
  margin: 0; }

.top-news__summary {
  padding: 1em;
  font-size: 1.0em;
  font-weight: 400;
  color: #75777a; }

.news-ad {
  display: block; }

.news-sponsor {
  padding: 0 15px;
  margin: 0 auto; }

.news-sponsor__image {
  display: block;
  margin: 0 auto; }

.main-content .stripe {
  left: -1060px;
  background-color: gray;
  opacity: 0.125; }
  @media only screen and (max-width: 992px) {
    .main-content .stripe {
      top: -450px; } }

.main-content .stripe + .stripe {
  left: -1000px;
  background-color: gray;
  opacity: 0.125; }
  @media only screen and (max-width: 992px) {
    .main-content .stripe + .stripe {
      top: -450px; } }

.featured-video {
  text-align: center;
  background-color: #b0b3b1;
  padding: 2em 0 4em;
  overflow: hidden; }

.featured-video__title {
  color: #FFF;
  font-size: 3em;
  line-height: 2em;
  letter-spacing: 1.5px;
  margin-bottom: 1em; }

.featured-video__title:after {
  content: '';
  display: block;
  background-color: #FFF;
  width: 1.5em;
  height: 0.12em;
  margin: 0 auto; }

.news {
  overflow: hidden; }

.news .wrapper {
  position: relative;
  padding: 5em 8em; }
  @media only screen and (max-width: 1200px) {
    .news .wrapper {
      padding: 5em 8em; } }
  @media only screen and (max-width: 992px) {
    .news .wrapper {
      padding: 2em 4em; } }
  @media only screen and (max-width: 992px) {
    .news .wrapper {
      padding: 1em 30px; } }

.article .wrapper {
  width: 460px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden; }

.article__title {
  color: #75777a;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: none;
  padding: 0 0 20px; }

.cta-col-1 {
  text-align: center;
  position: relative;
  overflow: hidden; }

.cta-col-1 .wrapper {
  margin: 0;
  padding: 4em 6em; }

.cta__header {
  color: #FFF;
  font-size: 2.5em;
  line-height: 1.2em;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 20px; }

.cta__header:after {
  content: '';
  display: block;
  background-color: #FFF;
  width: 65px;
  height: 5px;
  margin: 17px auto 0; }

.cta__header--sub {
  display: block;
  font-size: 0.7em;
  line-height: 1.2em;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 5px; }

.cta__text {
  color: #FFF;
  font-size: 1.2em;
  padding: 0 10em 1em; }
  @media only screen and (max-width: 992px) {
    .cta__text {
      padding: 0 2em 1em; } }

.cta__background {
  min-height: 350px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  background-color: #fe7200; }

.cta__background img {
  width: 100%;
  height: auto;
  opacity: 0.2; }
  @media only screen and (max-width: 768px) {
    .cta__background img {
      width: auto;
      height: 110%; } }

.cta-col-3 {
  margin-left: -30px;
  padding-right: 15px; }

.row.cta-col-3 {
  padding: 0 45px;
  margin-left: 7px;
  margin-right: 0; }
  @media only screen and (max-width: 992px) {
    .row.cta-col-3 {
      margin-left: 0;
      padding: 0; } }
  @media only screen and (max-width: 768px) {
    .row.cta-col-3 {
      margin-left: 0;
      padding: 0; } }

.row {
  margin-bottom: 4em; }
