.ad__block {
    position: relative;
    padding-bottom: 0;
}

.cta-3 .ad__block {
    height: 253px;
    margin-bottom: 30px;
    @include breakpoint(medium-max) {
        height: 185px;
        margin-bottom: 15px;
    }
    @include breakpoint(small-max) {
        height: auto;
    }
}

// .ad__block img {
//     width: 100%;
//     height: auto;
//     display: block;
// }

.main-content__sidebar .ad__block {
    @extend .ad__block;
    margin-bottom: 30px;
    // Desktop and below
    @include breakpoint(medium-max) {
        margin-bottom: 15px;
    }
    // Phone and below
    @include breakpoint(small-max) {
        display: none;
    }
}

.container.leaderboard {
    margin: 0 auto;
    padding: 20px 0;
    height: 130px;
    text-align: center;
    // Tablet and below
    @include breakpoint(small-max) {
        padding: 15px;
        height: 120px;
    }
}

.container.leaderboard--footer {
    margin: 30px auto;
    position: relative;
    z-index: 999;
    @include breakpoint(small-max) {
        margin: 0 auto;
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Ad img elements

.block__leaderboard {
    width: auto;
    margin: 0 auto;
    height: 90px;
    max-width: 970px;
    // Tablet and below
    @include breakpoint(small-max) {
        width: 100%;
        height: auto;
    }
}

.block__rectangle--medium {
    width: 100%;
    height: auto;
}

.block__rectangle--large {
    width: 100%;
    height: auto;
}
