.banner {
    overflow: hidden;
}

.banner .container {
    height: 129px;
    position: relative;
    @include breakpoint(medium) {
        margin-top: 45px;
    }
    @include breakpoint(small) {
        min-height: 100px;
    }
    @include breakpoint(xsmall) {
        min-height: 65px;
    }
}

.banner img {
    position: absolute;
    // width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include breakpoint(medium) {
        width: 100%;
    }
}

// img.banner-small {
//     @include breakpoint(small) {
//         display: block;
//     }
//     @include breakpoint(medium) {
//         display: none;
//     }
//     @include breakpoint(large) {
//         display: none;
//     }
// }

// .banner-medium {
//     @include breakpoint(small) {
//         display: none;
//     }
//     @include breakpoint(medium) {
//         display: block;
//     }
//     @include breakpoint(large) {
//         display: none;
//     }
// }

.banner .stripe {
    left: -800px;
    background-color: gray;
    opacity: 0.125;
    @include breakpoint(medium) {
        display: none;
    }
}

.banner .stripe + .stripe {
    left: -740px;
    background-color: gray;
    opacity: 0.125;
    @include breakpoint(medium) {
        display: none;
    }
}