body {
    background-color: white;
}

.stripe__container {
    top: 0;
    // border: 1px solid green;
    width: auto;
    height: 100%;
    display: block;
    position: absolute;
    overflow: hidden;
    z-index: -9;
}

.skew {
    -webkit-transform: skew(-18.25deg);
   -moz-transform: skew(-18.25deg);
     -o-transform: skew(-18.25deg);
}

.no-skew {
    -webkit-transform: skew(18.25deg);
   -moz-transform: skew(18.25deg);
     -o-transform: skew(18.25deg);
}

.stripe {
    position: absolute;
    width: 1000px;
    height: 100%;
    @extend .skew;
}

.stripe--right {
    position: absolute;
    width: 175px;
    height: 100%;
    @extend .skew;
}