.container.breadcrumbs {
    margin: 0 auto;
    // padding: 0;
        // Tablet and below
    @include breakpoint(small-max) {
        display: none;;
    }
}

.breadcrumb__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumb__list--item {
    display: inline-block;
    margin-right: 7px;
    padding: 0;
}

.breadcrumb__list--item::after {
    content: "/";
    margin-left: 11px;
    padding: 0;
}

.breadcrumb__list--item:last-of-type::after {
    content: "";
}