$blue: #01348d;
$blue-md: #00338d;
$blue-lt: #56bde8;

$red: #b71234;

$gray-1: #e3e4e3; $gray-lt: #e3e4e3;
$gray-2: #b0b3b1; $gray-md: #b0b3b1;
$gray-3: #75777a; $gray-dk: #75777a;
// $gray-4: #595b5f;
$gray-4: #63666a;
// $gray-5: #3d3e42;
$gray-5: #333333;

$orange: #fe7200;

$yellow: #ffc100;