.main-content__body .cta-1 {
    margin-top: 60px;
}

.container.cta-3 {
    padding: 0;
    margin-bottom: 40px;
    margin-top: 0;
    // Phone and below
    @include breakpoint(xsmall-max) {
        margin-bottom: 15px;
    }
    // iPhone and below
    @include breakpoint(iphone) {
        margin-bottom: 0;
    }
}

.cta-3 .row {
    // margin: 0;
    // Tablet and below
    @include breakpoint(small-max) {
        // margin-left: 0;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        // margin-right: 0;
        // margin-left: 15px;
    }
}

.cta-3 .row .col-xs-4 {
    // Tablet and below
    @include breakpoint(medium-max) {
        padding: 0 15px 0 0;
    }
}

.cta-3 .ad__block {
    // Tablet and below
    @include breakpoint(medium-max) {
        margin-bottom: 15px;
    }
}

.container.cta__content {
    position: relative;
    text-align: center;
    margin: 60px auto;
}

.cta-future .container.cta__content {
    margin: 85px auto 100px;
}

.cta-arrow .cta__content {
    padding: 2.5em 1em 1em;
    margin: 0;
    height: 170px;
}

.cta-arrow .cta__content:before {
    content:"";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    // border-bottom: 15px solid $blue-2;
    position: absolute;
    top: 245px;
    left: 50%;
}
.cta-arrow .cta__content.blue5::before {
    border-bottom: 15px solid $blue-5;
}
.cta-arrow .cta__content.blue4::before {
    border-bottom: 15px solid $blue-4;
}

.cta-3 .article {
    // Tablet and below
    @include breakpoint(medium-max) {
        height: 185px;
        margin-bottom: 15px;
    }
    // Phone and below
    @include breakpoint(small-max) {
        height: auto;
    }
}

.cta__headline {
    color: #FFF;
    font-size: 2.5em;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 20px;
}

.cta-arrow .cta__headline {
    text-align: center;
    font-size: 1.7em;
    font-weight: 300;

}

// .cta-1-champ .cta__headline {
//     font-weight: 400;
// }



.cta__headline::after {
    content: '';
    display: block;
    background-color: #FFF;
    width: 65px;
    height: 5px;
    margin: 17px auto 0;
    @extend .skew;
}

.cta-arrow .cta__headline::after {
    content: none;
}

.cta__headline--sub {
    display: block;
    font-size: 0.7em;
    line-height: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 5px;
}

.cta__text {
    color: #FFF;
    font-size: 1.2em;
    padding: 0 10em 1em;
    // Tablet and below
    @include breakpoint(medium-max) {
        padding: 0 2em 1em;
    }
    // iPhone and below
    @include breakpoint(iphone) {
        padding: 0 0 1em;
    }
}

.cta-arrow .cta__text {
    padding: 0 2em;
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
}

.cta__background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

// .cta-champ .cta__background {
//     @extend .cta__background;
//     background-color: #FFF;
// }

// .cta__background.orange {
//     background-color: $orange;
// }

.cta__background img {
    width: 100%;
    height: auto;
    opacity: 0.2;
    bottom: 0;
    // @include breakpoint(large-max) {
    //     width: auto;
    //     height: 100%;
    // }
    // @include breakpoint(large-max) {
    //     width: 100%;
    //     height: auto;
    // }
    // @include breakpoint(xsmall-max) {
    //     width: auto;
    //     height: 100%;
    // }
}
.cta__background.no-color img {
    opacity: 1.0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// CTA Customizations

.main-content__body .cta-future .cta__background img {
        width: auto;
        height: 110%;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// CTA with Background

.article.article--cta-1 {
    margin-bottom: 0;
    padding-bottom: 0;
    // Phone and below
    @include breakpoint(xsmall-max) {
        margin-bottom: 15px;
    }
}

.main-content__body .article--cta-1 .cta__hero {
    float: left;
}

.main-content__body .article--cta-1 .cta__content {
    text-align: left;
}

.main-content__body .article--cta-1 .cta__headline {
    font-size: 1.8em;
    letter-spacing: 1px;
}

.main-content__body .article--cta-1 .cta__headline::after {
    content: none;
}

.main-content__body .article--cta-1 .cta__text {
    margin: 0 auto 15px;
    padding: 0 4em;
    font-size: 0.9em;
    font-weight: 300;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// CTA Page Banner

.cta-banner {
    height: 470px;
}

.cta-banner .cta__hero {
}

.cta-banner .cta__content {
    text-align: left;
    margin: 0 auto;
    padding: 30px 30% 30px 0;
    @include breakpoint(small-max) {
        padding-left: 15px;
    }
}

.cta-banner .cta__headline {
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: none;
    font-size: 3.5em;
    line-height: 1.1em;
    margin-top: 20px;
}

.cta-banner .cta__headline::after {
    content: none;
}

.cta-banner .cta__text {
    margin: 0;
    padding: 0 0 30px;
    font-size: 1.3em;
}

.cta-banner .cta__background img {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}
