.main-content__body .cta-1 {
    margin-top: 60px;
}

.container.cta-3 {
    padding: 0;
    margin-bottom: 40px;
    margin-top: 0;
    // Desktop and below
    @include breakpoint(medium-max) {
        padding: 0 15px;
        margin-bottom: 15px;
    }
    // iPhone and below
    @include breakpoint(iphone) {
        margin-bottom: 0;
        padding: 0 15px;
    }
}

.container.cta-arrow {
    // margin-bottom: 15px;
    margin-bottom: 0;
    @include breakpoint(small-max) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.article.cta-arrow {
    margin-bottom: 30px;
    @include breakpoint(small-max) {
        margin-bottom: 20px;
        // padding-left: 15px;
        // padding-right: 15px;
    }
}

.container.cta-2-col-sidebar {
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;
}

.cta-3 .row {
    // margin: 0;
    // Tablet and below
    @include breakpoint(small-max) {
        // margin-left: 0;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        // margin-right: 0;
        // margin-left: 15px;
    }
}

.cta-3 .row .col-xs-4 {
    // Tablet and below
    @include breakpoint(medium-max) {
        padding: 0 15px 0 0;
    }
}

.cta-3 .ad__block {
    // Tablet and below
    @include breakpoint(medium-max) {
        margin-bottom: 15px;
    }
}

.container.cta__content {
    position: relative;
    text-align: center;
    margin: 60px auto;
}

.cta-3 .article {
    // Tablet and below
    @include breakpoint(medium-max) {
        height: 185px;
        margin-bottom: 15px;
    }
    // Phone and below
    @include breakpoint(small-max) {
        height: auto;
    }
}

.cta__content {
    display: block;
    text-align: center;
    padding: 15px;
}

.cta__headline {
    color: #FFF;
    font-size: 2.5em;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 20px;
}

.cta-arrow .cta__headline {
    text-align: center;
    font-size: 1.7em;
    font-weight: 300;

}

.cta-arrow .article__link:hover .cta__text {
    text-decoration: underline;
    color: #FFF;
}

// .cta-1-champ .cta__headline {
//     font-weight: 400;
// }



.cta__headline::after {
    content: '';
    display: block;
    background-color: #FFF;
    width: 65px;
    height: 5px;
    margin: 17px auto 0;
    @extend .skew;
}

.cta-arrow .cta__headline::after {
    content: none;
}

.cta__headline--sub {
    display: block;
    font-size: 0.7em;
    line-height: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 5px;
}

.cta__text {
    color: #FFF;
    font-size: 1.2em;
    padding: 0 10em 1em;
    // Tablet and below
    @include breakpoint(medium-max) {
        padding: 0 2em 1em;
    }
    // iPhone and below
    @include breakpoint(iphone) {
        padding: 0 0 1em;
    }
}

.cta-arrow .cta__text {
    padding: 0 2em;
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
    @include breakpoint(small-max) {
        font-size: 1.1em;
        padding-bottom: 1em;
    }
}

.cta__background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

.cta__background img {
    opacity: 0.2;
    bottom: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    @include breakpoint(medium-min) {
        width: 115%;
        height: auto;
    }
    @include breakpoint(medium-max) {
        width: auto;
        height: 100%;
    }
    @include breakpoint(ipad-portrait) {
        width: auto;
        height: 100%;
    }
    @include breakpoint(xsmall-max) {
        width: auto;
        height: 100%;
    }
}

.cta__background.no-color img {
    opacity: 1.0;
}

.main-content__body .cta__background img {
    width: 110%;
    height: auto;
    @include breakpoint(small-max) {
        width: 120%;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// CTA Customizations

.main-content__body .cta-future .cta__background img {
        width: auto;
        height: 110%;
}

.cta-support-team-usa .cta__content {
    height: 147px;
    padding-top: 10px;
    @include breakpoint(medium-max) {
        height: 111px;
        padding-bottom: 60px;
    }
    @include breakpoint(small-max) {
        height: auto;
        padding: 15px 15px 30px;
    }
    .cta__hero {
        margin-bottom: 8px;
        img {
            width: 100%;
            max-width: 300px;
            padding-top: 0;
            margin-top: 0;
            @include breakpoint(small-max) {
                margin-bottom: 8px;
            }
        }
    }
}

// .cta-2017-open {
//     height: 323px;
// }

.main-content__body .article--cta-1.cta-2017-open {
    height: 323px;
    @include breakpoint(medium-max) {
        height: 252px;
    }
    @include breakpoint(small-max) {
        height: auto;
        margin-left: 15px;
        margin-right: 15px;
    }
    .cta__content {
    text-align: left;
        @include breakpoint(medium-max) {
            margin: 15px auto;
        }
        @include breakpoint(small-max) {
            margin: 30px auto;
        }
        @include breakpoint(xsmall-max) {
            margin: 20px auto;
        }
    }
    .cta__hero {
        width: 260px;
        @include breakpoint(medium-max) {
            width: 220px;
        }
        img {
            width: 95%;
            padding-left: 10%;
        }
    }
    .cta__headline,
    .cta__text,
    .cta__button {
        margin-left: 260px;
        @include breakpoint(medium-max) {
            margin-left: 220px;
        }
    }
    .cta__headline {
        padding-left: 0;
    }
    .cta__text {
        padding-left: 0;
        padding-bottom: 1em;
        @include breakpoint(small-max) {
            font-size: 1.1em;
        }
    }
    .cta__button {
    }
}

.cta-future .container.cta__content {
    margin: 85px auto 100px;
}



//////////////////////////////////////////////////////////////////////////////////////////
// CTA with Text Bock and Arrow

.cta-arrow .cta__content {
    padding: 2.5em 1em 1em;
    margin: 0;
    height: 170px;
    position: relative;
    @include breakpoint(small-max) {
        height: auto;
    }
}

.cta-arrow .cta__content:before {
    content:"";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    // border-bottom: 15px solid $blue-2;
    position: absolute;
    top: -15px;
    left: 50%;
}
.cta-arrow .cta__content.blue5::before {
    border-bottom: 15px solid $blue-5;
}
.cta-arrow .cta__content.blue4::before {
    border-bottom: 15px solid $blue-4;
}

.cta-arrow .cta__top-content img {
    width: 100%;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// CTA with Background

.article.article--cta-1 {
    margin-bottom: 0;
    padding-bottom: 0;
    // Phone and below
    @include breakpoint(xsmall-max) {
        margin-bottom: 15px;
    }
}

.article--cta-1 .cta__hero {
    margin-top: 5px;
    margin-bottom: 15px;
}

.main-content__body .article--cta-1 .cta__hero {
    float: left;
}

.main-content__body .article--cta-1  .cta-1 .cta__hero + .cta__headline,
.main-content__body .article--cta-1  .cta-1 .cta__hero + .cta__text {
    text-align: left;
}


.main-content__body .article--cta-1 .cta__hero img {
}

.main-content__body .article--cta-1 .cta__content {
    text-align: center;
    padding-left: 0;
    padding-right: 15px;
}

.main-content__body .article--cta-1 .cta__headline {
    font-size: 1.7em;
    letter-spacing: 1px;
}

.main-content__body .article--cta-1 .cta__headline::after {
    content: none;
}

.main-content__body .article--cta-1 .cta__text {
    margin: 0 auto 15px;
    padding: 0 4em;
    font-size: 0.9em;
    font-weight: 300;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// CTA Page Banner

.container-fluid .cta-banner {
    height: 470px;
    @include breakpoint(small-max) {
        height: 100%;
        margin-left: 15px;
        margin-right: 15px;
        overflow: hidden;
    }
}

.cta-banner .cta__hero {
}

.cta-banner .cta__content {
    text-align: left;
    margin: 0 auto;
    padding: 30px 30% 30px 0;
    @include breakpoint(large-max) {
        padding-right: 45%;
    }
    @include breakpoint(medium-max) {
        padding: 30px 25% 30px 15px;
    }
    @include breakpoint(small-max) {
        padding: 30px;
    }
}

// .cta-banner .cta__content > * {
//         border: 1px solid yellow;
// }

.cta-banner .cta__headline {
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: none;
    font-size: 3.5em;
    line-height: 1.1em;
    margin-top: 20px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    @include breakpoint(small-max) {
        font-size: 2.75em;
    }
}

.cta-banner .cta__headline::after {
    content: none;
}

.cta-banner .cta__text {
    margin: 0;
    padding: 0 0 30px;
    font-size: 1.3em;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.cta-banner .cta__background img {
    width: 100%;
    height: auto;
    @include breakpoint(small-max) {
        width: auto;
        height: 100%;

    }
}