.featured-video {
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 99;
}

.featured-video .wrapper {
    background-color: $gray-2;
    padding: 30px 0 60px;
    position: relative;
}

.featured-video iframe {
    position: relative;
    z-index: 999;
    // position: relative;
    @include breakpoint(xsmall-max) {
        height: 238px;
        width: 424px;
    }
    @include breakpoint(iphone) {
        height: 168px;
        width: 300px;
    }
}

.featured-video__title {
    color: #FFF;
    font-weight: 300;
}

.featured-video__title::after {
    content: '';
    display: block;
    background-color: #FFF;
    width: 1.5em;
    height: 0.12em;
    margin: 0 auto;
    @extend .skew;
}

.stripe--featured-video {
    @extend .stripe;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 65%;
    width: 1900px;
    background-color: $gray-lt;
    opacity: 0.3;
    @include breakpoint(large) {
        width: 445px;
    }
    @include breakpoint(medium-max) {
        width: 350px;
    }
}
