.container-fluid.footer {
    background-color: $blue-md;
    padding-top: 2em;
    padding-bottom: 1em;
    // Tablet and below
    @include breakpoint(small-max) {
        padding: 1em 1em 1em;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        padding-bottom: 1em;
    }
}

.container.footer__links {
    position: relative;
    z-index: 999;
    width: auto;
    // Phone and below
    @include breakpoint(small-max) {
        padding: 0;
    }
}

.footer-col--info {
    @extend .footer-col;
    // Phone and below
    @include breakpoint(xsmall-max) {
        width: 100%;
        margin-bottom: 45px;
    }
}

.footer-col--links {
    // Desktop and below
    @include breakpoint(medium-max) {
        margin-bottom: 45px;
    }
}

.footer-col--cta {
    // Phone and below
    @include breakpoint(xsmall-max) {
        width: 100%;
        margin-bottom: 30px;
        margin-left: 0;
        padding-left: 15px;
    }
}

.footer-links {
    display: inline-block;
    vertical-align: top;
    // Phone and below
    @include breakpoint(xsmall-max) {
        width: 100%;
        margin-bottom: 30px;
    }
}

.footer-col--promo.col-xs-12 + .footer-col--promo.col-xs-12 {
    // Desktop and above
    @include breakpoint(medium-min) {
        margin-top: 30px;
    }
    // Phone and below
    @include breakpoint(small-max) {
        margin-top: 20px;
    }
}

.footer-links__title {
    color: #FFF;
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    // Desktop and below
    @include breakpoint(medium-max) {
        font-size: 1.29em;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        font-size: 1.17em;
    }
}

.footer-links__list {
    list-style-type: none;
    margin: 2em 0 0;
    padding: 0;
}

.footer-links__list li {
    margin: 0 auto 0.65em;
}

.footer-links__list.link--logos li {
    margin-bottom: 1.75em;
}

.footer-col__link {
    display: block;
    color: #FFF;
    img { display: none; }
    img + img { display: block; }
}

.footer-col__link:hover {
    // color: $blue-lt;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    img {
        display: block;
    }
    img + img {
        display: none;
    }
}

.footer-col__link:active, .footer-col__link:visited {
    text-decoration: none;
}

.footer-col__link .text {
    display: block;
    margin: .5em 0 1.5em;
    font-size: 0.95em;
    line-height: 1.15em;
}

.download-icon {
    margin: .5em 0;
    // Phone and below
    @include breakpoint(small-max) {
        display: block;
        margin-bottom: 10px;
    }
}

.social-link--footer {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    background-image: url("../img/social-icons-footer.png");
    background-size: 136px;
    background-repeat: no-repeat;
}

.footer .social-link--fb {
    @extend .social-link--footer;
    background-position: 0 0;
}
.footer .social-link--fb:hover {
    background-position: 0 -50px;
}

.footer .social-link--tw {
    @extend .social-link--footer;
    background-position: -50px 0;
}
.footer .social-link--tw:hover {
    background-position: -50px -50px;
}

.footer .social-link--yt {
    @extend .social-link--footer;
    background-position: -100px 0;
}
.footer .social-link--yt:hover {
    background-position: -100px -50px;
}

.footer .corporate {
    border-top: 1px solid #002364;
    margin-top: 45px;
    padding: 25px 0 10px;
    font-size: 1.0em;
    font-weight: 300;
    text-align: center;
    color: #FFF;
    @include breakpoint(small-max) {
        text-align: left;
        line-height: 1.7em;
        padding-top: 20px;
        margin-top: 30px;
    }
}

.corporate-address {
    padding-left: 2em;
    padding-right: 2em;
    // Phone and below
    @include breakpoint(small-max) {
        display: block;
        padding: 0;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Footer stripes

.container.footer--stripes {
    position: absolute;
    z-index: 99;
    overflow: visible;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    // Slider small
    @include breakpoint(slider-small) {
        overflow: hidden;
    }
}

.footer--stripes .stripes {
    width: auto;
    left: 0;
    right: 0;
    // Tablet and below
    @include breakpoint(small-max) {
        left:  0;
        right: 0;
    }
    // Slider small below
    @include breakpoint(slider-small) {
        overflow: hidden;
    }
}

.footer--stripes .stripe {
    // left: -930px;
    left: 1024px;
    width: 500px;
    background-color: #000;
    opacity: 0.1;
    z-index: 99;
    // Large desktop and below
    @include breakpoint(large-max) {
    }
    // Desktop and below
    @include breakpoint(medium-max) {
        left: 720px;
    }
    // Tablet and below
    @include breakpoint(small-max) {
        left: 750px;
    }
    // Slider small
    @include breakpoint(slider-small) {
        left: 690px;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        left: 400px;
    }
}

.footer--stripes .stripe + .stripe {
    left: 954px;
    background-color: #000;
    opacity: 0.1;
    // Desktop and below
    @include breakpoint(medium-max) {
        left: 650px;
    }
    // Tablet and below
    @include breakpoint(small-max) {
        left: 680px;
    }
    // Slider small
    @include breakpoint(slider-small) {
        left: 650px;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        left: 320px;
    }
}