.container-fluid.header {
    position: relative;
    height: 95px;
    z-index: 9999;
    border-bottom: 1px solid #d5d7d5;
    transition: height 0.3s;
    // overflow: visible;
        overflow-x: hidden;
        overflow-y: visible;
    // Desktop and below
    @include breakpoint(medium-max) {
        height: 70px;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        height: 55px;
        padding: 0;
        position: fixed;
        overflow-x: hidden;
        overflow-y: visible;
        right: 0;
        left: 0;
        top: 0;
        background-color: #FFF;
    }
}

.container-fluid.header .container {
    position: relative;
    padding-top: 0;
    margin: 0 auto;
    // Phone and below
    @include breakpoint(xsmall-max) {
        padding-right: 0;
        padding-left: 0;
    }
}

.logo {
    width: 288px;
    height: 95px;
    background-image: url('../img/logo.png');
    background-position: -2px 22px;
    background-size: 360px;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    // Desktop and below
    @include breakpoint(medium-max) {
        margin-left: 0;
        width: 230px;
        background-position: -2px 20px;
        background-size: 280px;
        height: 70px;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        height: 55px;
        margin: 0 auto;
        background-size: 305px;
        width: 245px;
        background-position: -1px -1px;
    }
    // Small phone and below
    @include breakpoint(iphone-max) {
        // height: 55px;
        // margin: 0 auto;
        background-size: 240px;
        width: 200px;
        background-position: 2px -1px;
    }
}