.container-fluid.header {
    position: relative;
    height: 95px;
    z-index: 9999999;
    background-color: #FFF;
    border-bottom: 1px solid #d5d7d5;
    transition: height 0.3s;
    overflow: visible;
    // Desktop and above //
    @include breakpoint(small-min) {
        width: 100%;
        height: 95px;
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
    }
    // Desktop and below //
    @include breakpoint(medium-max) {
        height: 70px;
        padding: 0;
    }
    // Tablet and below //
    @include breakpoint(small-max) {
        height: 55px;
        left: 0;
        right: 0;
        top: 0;
        position: fixed;
    }
}

body.scroll--header {
    // Desktop and below
    @include breakpoint(small-min) {
        margin-top: 45px;
    }
    // Phone and below
    @include breakpoint(small-max) {
        margin-top: 55px;
    }
}

.container-fluid.header.scroll {
    // Desktop and above
    @include breakpoint(small-min) {
        height: 45px;
        position: fixed;
    }
    // iPad portrait
    @include breakpoint(ipad-portrait) {
        height: 45px;
        position: fixed;
    }
    // Phone and below
    @include breakpoint(small-max) {
        height: 55px;
        position: fixed;
    }
}

.container-fluid.header .container {
    position: relative;
    padding-top: 0;
    margin: 0 auto;
    // Phone and below //
    @include breakpoint(xsmall-max) {
        padding-right: 0;
        padding-left: 0;
    }
}

.logo {
    cursor: pointer;
    width: 288px;
    height: 95px;
    background-image: url('../img/logo.png');
    background-position: -2px 16px;
    background-size: 360px;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    transition: all .2s;
    // Desktop and below //
    @include breakpoint(medium-max) {
        margin-left: 0;
        width: 230px;
        background-position: -2px 12px;
        background-size: 280px;
        height: 68px;
    }
    // Phone and below //
    @include breakpoint(small-max) {
        height: 55px;
        margin: 0 auto;
        background-size: 245px;
        width: 200px;
        background-position: 44px 6px;
    }
    // Small phone and below //
    @include breakpoint(iphone) {
        background-size: 200px;
        width: 165px;
        background-position: 36px 10px;
    }
}


.logo.scroll {
    // Tablet and above //
    @include breakpoint(small-min) {
        width: 44px;
        height: 43px;
        background-size: 260px;
        background-position: -219px -3px;
    }
    // Phone and below //
    @include breakpoint(small-max) {
        height: 54px;
        margin: 0 auto;
        background-size: 245px;
        width: 200px;
        background-position: 44px 6px;
    }
    // Small phone and below //
    @include breakpoint(iphone) {
        background-size: 200px;
        width: 165px;
        background-position: 36px 10px;
    }
}