.container-fluid.header {
    position: relative;
    height: 95px;
    z-index: 99999;
    border-bottom: 1px solid #d5d7d5;
    transition: height 0.3s;
    overflow: visible;

    // Desktop and below //
    @include breakpoint(medium-max) {
        height: 70px;
        padding: 0;
        top: 0;
        left: 0;
        right: 0;
        background-color: #FFF;
    }
    // Tablet and below //
    @include breakpoint(small-max) {
        height: 55px;
        position: fixed;
    }
}

body.scroll--header {
    // Desktop and below
    @include breakpoint(medium-max) {
        margin-top: 45px;
        // margin-bottom: -45px;
    }
    // Phone and below
    @include breakpoint(small-max) {
        margin-top: 55px;
        // margin-bottom: -55px;
    }
}

/* way the hell off screen */
// .scrollbar-measure {
//     width: 100px;
//     height: 100px;
//     overflow: scroll;
//     position: absolute;
//     top: -9999px;
// }


.container-fluid.header.scroll {
    // Desktop and below //
    @include breakpoint(medium-max) {
        height: 45px;
        position: fixed;
        // position: absolute;
    }
    // Phone and below //
    @include breakpoint(small-max) {
        height: 55px;
    }
}

.container-fluid.header.open.scroll {
    // top: 0;
}

.container-fluid.header.scroll.open {
    // top: 0;
    // position: absolute;
}

.container-fluid.header .container {
    position: relative;
    padding-top: 0;
    margin: 0 auto;
    // Phone and below //
    @include breakpoint(xsmall-max) {
        padding-right: 0;
        padding-left: 0;
    }
}

.logo {
    cursor: pointer;
    width: 288px;
    height: 95px;
    background-image: url('../img/logo.png');
    background-position: -2px 22px;
    background-size: 360px;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    transition: all .2s;
    // Desktop and below //
    @include breakpoint(medium-max) {
        margin-left: 0;
        width: 230px;
        background-position: -2px 20px;
        background-size: 280px;
        height: 68px;
    }
    // Phone and below //
    @include breakpoint(small-max) {
        height: 55px;
        margin: 0 auto;
        background-size: 245px;
        width: 200px;
        background-position: 4px 2px;
    }
    // Small phone and below //
    @include breakpoint(iphone) {
        background-size: 200px;
        width: 165px;
        background-position: 5px 10px;
    }
    // @media only screen and (max-width: 300px) {
    //     background-size: 200px;
    //     width: 165px;
    //     background-position: 5px 10px;
    // }
}


.logo.scroll {
    // Desktop and below //
    @include breakpoint(medium-max) {
        width: 44px;
        height: 43px;
        background-size: 260px;
        background-position: -219px -3px;
    }
    // Phone and below //
    @include breakpoint(small-max) {
        height: 54px;
        margin: 0 auto;
        // background-size: 275px;
        // width: 240px;
        // background-position: 8px -1px;
        background-size: 245px;
        width: 200px;
        background-position: 4px 2px;
    }
    // Small phone and below //
    @include breakpoint(iphone) {
        // background-size: 255px;
        // width: 215px;
        // background-position: 4px 1px;
        background-size: 200px;
        width: 165px;
        background-position: 5px 10px;
    }
}