
// //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// // Main content columns

.container.main-content {
    margin-top: 45px;
    position: relative;
    // Tablet and below
    @include breakpoint(small-max) {
        margin-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Page stripes top

.container.page-stripes {
    position: absolute;
    overflow: visible;
    // height: 1600px;
    height: 2000px;
    margin: 0 auto;
    padding: 0;
    left: 0;
    right: 0;
}

.page-stripes .stripes {
    width: auto;
    left: 0;
    right: 0;
}

.page-stripes .stripes .stripe {
    // left: -1071px;
    left: -1138px;
    width: 1000px;
    background-color: $gray-1;
    opacity: 0.35;
    z-index: 9;
    // Desktop and below
    @include breakpoint(medium-max) {
        left: -1174px;
    }
}

.page-stripes .stripes .stripe + .stripe {
    // left: -1011px;
    left: -1078px;
    width: 1000px;
    background-color: gray;
    opacity: 0.125;
    z-index: 9;
    // Desktop and below
    @include breakpoint(medium-max) {
        left: -1124px;
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Page stripes bottom

.container.page-stripes--bottom {
    position: absolute;
    overflow: visible;
    height: 1900px;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.page-stripes--bottom .stripes .stripe {
    left: 1217px;
    width: 1000px;
    background-color: $gray-1;
    opacity: 0.45;
    z-index: 9;
}

.page-stripes--bottom .stripes .stripe + .stripe {
    left: 1147px;
    width: 1000px;
    background-color: $gray-1;
    opacity: 0.45;
    z-index: 9;
}
