.marketing-promo {
    overflow: hidden;
    position: relative;
    padding: 0 45px;
}

.marketing-promo__caption {
    @extend .oswald;
    font-size: 1.3em;
    line-height: 1.4em;
    color: #FFF;
    text-transform: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 20px;
    // width: auto;
    // margin: 0 15px;
    padding: 1em;
    margin: 0 45px;
    background-color: rgba(0,0,0,0.6);
}

.marketing-promo__image {
    // width: 100%;
    // position: relative;
}

.top-news {
    padding: 0 45px;
    height: 300px;
}

.top-news__title, .top-news__summary {
    background-color: $gray-lt;
    padding: 0 45px;
}

.top-news__title {
    color: $gray-dk;
    text-align: center;
}

.top-news__image {
    // width: 100%;
    // margin: 0 -15px;
}

.news .news-ad {
    display: block;
}

.news-sponsor {
    padding: 0 45px;
}

.news-sponsor__image {
    display: block;
    // width: 100%;
}