.main-content {
    overflow: hidden;
}

.main-content .container {
    position: relative;
    @include breakpoint(small) {
        padding: 0;
    }
}

.news .row {
    padding: 0 45px;
    margin-left: 7px;
    margin-right: 0;
    @include breakpoint(medium) {
        margin-left: 0;
    }
    @include breakpoint(small) {
        margin-left: 0;
    }
}


.marketing-promo-wrapper {
    // padding: 0 30px;
}

.marketing-promo {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: 250px;
    max-width: 330px;
}

.marketing-promo:hover {
    cursor: pointer;
}

.marketing-promo__caption {
    @extend .oswald;
    font-size: 1.3em;
    line-height: 1.4em;
    color: #FFF;
    text-transform: none;
    position: absolute;
    width: 100%;
    // left: 0;
    // right: 0;
    bottom: 0;
    min-height: 20px;
    padding: 1em;
    margin: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 9;
}

.marketing-promo__image {
    width: 100%;
    height: auto;
    position: relative;
}

.marketing-promo__detail {
    @extend .skew;
    position: absolute;
    height: 300px;
    width: 500px;
    background-color: $blue;
    top: 0;
    right: -170%;
    // right: -30%;
    transition: right 0.25s;
    z-index: 9999;
    padding: 15px;
    @include breakpoint(medium) {
        right: -200%;
    }
}

.marketing-promo__detail p {
    @extend .no-skew;
    margin-left: 10%;
    padding: .5em;
    color: #FFF;
    font-size: 1.1em;
    line-height: 1.25em;
    font-weight: 300;
    .bold {
        margin-top: 1em;
        display: block;
        letter-spacing: .5px;
        text-transform: uppercase;
    }
}

.marketing-promo__detail.open {
    right: -30%;
}

.top-news-wrapper {
    // padding: 0 30px;
    height: 250px;
}

.top-news {
    position: absolute;
    left: 22px;
    max-width: 330px;
    background-color: $gray-lt;

    @include breakpoint(large) {
        right: 0;
        left: 15px;
    }
}

.top-news__title {
    color: $gray-dk;
    text-align: center;
    font-size: 1.3em;
    height: 13px;
    line-height: 13px;
    padding: 0;
}

.top-news__image {
    width: 100%;
    margin: 0;
    // margin: 0 -15px;
}

.top-news__summary {
    @extend .oswald;
    padding: 1em;
    font-size: 1.0em;
    font-weight: 400;
    color: $gray-dk;
}

.news .news-ad {
    display: block;
}

.news-sponsor {
    padding: 0 15px;
}

.news-sponsor__image {
    display: block;
    // width: 100%;
}


.main-content .stripe {
    left: -1060px;
    background-color: gray;
    opacity: 0.125;
    @include breakpoint(medium) {
        top: -450px;
    }
}

.main-content .stripe + .stripe {
    left: -1000px;
    background-color: gray;
    opacity: 0.125;
    @include breakpoint(medium) {
        top: -450px;
    }
}
