// Breakpoints
@mixin breakpoint($point) {

  @if $point == iphone {
    @media only screen and (max-width: 319px)  { @content; }
  }
  @else if $point == slider-small {
    @media only screen and (max-width: 619px)  { @content; }
  }
  @else if $point == xsmall-max {
    @media only screen and (max-width: 479px) { @content; }
  }
  @else if $point == xsmall-min {
    @media only screen and (min-width: 480px) { @content; }
  }
  @else if $point == small-max {
    @media only screen and (max-width: 767px) { @content; }
  }
  @else if $point == small-min {
    @media only screen and (min-width: 768px) { @content; }
  }
  @else if $point == medium-max {
    @media only screen and (max-width: 991px) { @content; }
  }
  @else if $point == medium-min {
    @media only screen and (min-width: 992px) { @content; }
  }
  @else if $point == nav {
    @media only screen and (max-width: 1099px) { @content; }
  }
  @else if $point == large-max {
    @media only screen and (max-width: 1199px) { @content; }
  }
  @else if $point == large-min {
    @media only screen and (min-width: 1200px) { @content; }
  }

}


// Set aspect ratio on slider image
// @mixin aspect-ratio($width, $height) {
//   position: relative;
//   &:before {
//     display: block;
//     content: "";
//     width: 100%;
//     padding-top: ($height / $width) * 100%;
//   }
//   > .slide__image {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     height: auto;
//     width: 100%;
//   }
// }

@mixin img-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}