.nav-main {
    font-size: 1.1em;
    letter-spacing: 0.8px;
    position: absolute;
    right: 10px;
    top: 52px;
    margin:  0;
    padding: 0;
    @extend .oswald;
    text-transform: uppercase;
    transition: all 0.2s;
    // Move Header Elements Mid-Desktop
    @include breakpoint(nav) {
    }
    // Desktop and below
    @include breakpoint(medium-max) {
        font-size: 0.95em;
        top: 41px;
    }
    // Tablet and below
    @include breakpoint(small-max) {
        right: 15px;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        font-size: 1.1em;
        background-color: $gray-dk;
        font-family: "Open Sans", sans-serif;
    }
}

// Desktop and below
.nav-main.scroll {
    // Desktop and below
    @include breakpoint(medium-max) {
        top: 15px;
        right: 175px;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        // top: 41px;
        top: 55px;
        // right: 15px;
    }
}

.nav__list {
    list-style: none;
    padding-left: 0;
    margin-left: -5px;
    height: 22px;
    transition: left 0.5s;
    :last-child {
        padding-right: 0;
    }
    // Tablet and below
    @include breakpoint(small-max) {
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        width: 100%;
    }
}

.nav-main.open .nav__list {
    transition: left 0.5s;
    left: 0;
}

.nav-main.open.left .nav__list {
    // Phone and below
    @include breakpoint(xsmall-max) {
        position: absolute;
        left: -100%;
    }
}

.nav__list--item {
    display: inline-block;
    // Large Desktop and above
    @include breakpoint(large-min) {
            margin-left: 27px;
            padding: 0;
    }
    // Large Dektop and below
    @include breakpoint(large-max) {
        margin-left: 25px;
        padding: 0;
    }
    // Desktop and below
    @include breakpoint(medium-max) {
        margin-left: 11px;
        padding: 0 5px;
    }
    // Tablet and below
    @include breakpoint(xsmall-max) {
        display: block;
        margin: 10px 15px 10px 23px;
        padding: 0;
        border-bottom: 1px solid #555;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        // display: block;
        margin: 10px 15px;
        // border-bottom: 1px solid #555;
    }
}

.nav__list--item a {
    color: $blue;
    font-weight: 400;
    // Phone and below
    @include breakpoint(xsmall-max) {
        font-weight: 300;
        color: #FFF;
        padding: 5px 0 15px;
        display: block;
        position: relative;
        margin: 0;
    }
}

// Right arrow on mobile nav links with children
.nav__list--item a.has-children::after {
    // Phone and below
    @include breakpoint(xsmall-max) {
        padding: 10px 0;
        display: block;
        position: absolute;
        top: -8px;
        right: -10px;
        content: url("../img/arrow-rt.png");
        width: 30px;
        height: 40px;
        background-color: transparent;
        overflow: hidden;
    }
}

.nav__list--item a:focus {
    text-decoration: none;
    outline: 0;
}

.nav__list--item a:hover {
    text-decoration: none;
    color: $red;
    // Phone and below
    @include breakpoint(xsmall-max) {
        color: $blue;
    }
}

.nav__list--item a:hover::after {
    content: '';
    display: block;
    background-color: $blue;
    width: auto;
    height: 4px;
    margin: 17px auto 0;

    // Tablet and babove
    @include breakpoint(small-min) {
        @extend .skew;
    }
    // Desktop and below
    @include breakpoint(medium-max) {
        // margin-top: 9px;
        margin-top: 5px;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        // @extend .skew-reset;
        display: none;
    }
}

.nav__list--item a.has-children:hover::after {
    content: '';
    display: block;
    background-color: $blue;
    width: auto;
    height: 4px;
    margin: 17px auto 0;
    // Desktop and below
    @include breakpoint(medium-max) {
        margin-top: 5px;
    }
    // Phone and above
    @include breakpoint(xsmall-min) {
    }
    // Phone and below; link arrows
    @include breakpoint(xsmall-max) {
        // @extend .skew-reset;
        position: absolute;
        top: -8px;
        right: -10px;
        width: 30px;
        height: 40px;
        margin: 0;
        padding: 10px 0;
        content: url("../img/arrow-rt.png");
        background-color: transparent;
    }
}

