.nav-icon {
    background-image: url('../img/bowl-sprites.png');
    background-size: 330px;
    background-repeat: no-repeat;
    background-color: transparent;
    text-indent: -9999px;
    display: block;
    padding: 0;
    cursor: pointer;
}

.nav-small-icon {
    display: none;
    position: absolute;
    cursor: pointer;
    // Tablet and below
    @include breakpoint(small-max) {
        display: block;
        font-size: 0.6em;
        text-indent: -9999px;
        height: 30px;
        width: 30px;
        background-image: url('../img/bowl-sprites.png');
        background-repeat: no-repeat;
        background-color: transparent;
        left: 14px;
        top: 12px;
        background-position: 0px -90px;
        background-size: 330px;
    }
}

.nav-small-icon.open {
    background-position: -61px -89px;
}

.nav-dropdown {
    position: absolute;
    margin-top: -1px;
    box-shadow: 5px 0px 5px -4px rgba(0, 0, 0, 0.2), -5px 0px 5px -4px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid $gray-1;
    border-left: 1px solid $gray-1;
    border-right: 1px solid $gray-1;
    display: none;
    // Tablet and below
    @include breakpoint(medium-max) {
        margin-top: 1px;
    }
    // Phone and below
    @include breakpoint(small-max) {
        position: relative;
        width: 100%;
        height: 100%;
        top: 55px;
        z-index: 99;
    }
}

.nav-dropdown.open {
    display: block;
    background-color: #FFF;
    // Phone and below
    @include breakpoint(small-max) {
        background-color: $gray-list-background;
        left: 0;
        right: 0;
        top: 54px;
        bottom: 0;
        position: fixed;
        display: block;
        z-index: 1;
    }
}

.nav-dropdown.close {
    // Phone and below
    @include breakpoint(small-max) {
        width: 100%;
        height: 0;
    }
}

.dropdown-wrapper {
    display: none;
    position: relative;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    padding: 25px 30px 15px;
    // Tablet and above
    @include breakpoint(small-min) {
        width: 100% !important;
        margin-bottom: 20px;
    }
    // Phone and below
    @include breakpoint(small-max) {
        padding: 25px 15px;
    }
}

.dropdown-wrapper.open {
    display: block;
    // Desktop and above
    @include breakpoint(medium-min) {
        background-color: #FFF;
    }
}

.nav-level-1 {
    // Phone and below
    @include breakpoint(small-max) {
        left: 0;
        transition: left 0.3s;
        position: fixed;
        background-color: $gray-list-background;
        top: 55px;
        width: 100%;
        height: 0px;
        overflow: hidden;
        z-index: 3;
        display: block;
    }
}

.nav-level-1.open {
    // Phone and below
    @include breakpoint(small-max) {
        height: 100%;
        padding-top: 2px;
        left: 0;
    }
}
.nav-level-1.open.left {
    // Phone and below
    @include breakpoint(small-max) {
        left: -100%;
    }
}

.nav-level-2 {
    // Phone and below
    @include breakpoint(small-max) {
        transition: left 0.3s;
        background-color: $gray-list-background;
        position: fixed;
        display: block;
        padding-top: 0;
        left: 100%;
        z-index: 2;
        margin-bottom: -200px;
    }
}

.nav-level-2.open {
    // Phone and below
    @include breakpoint(small-max) {
        display: block;
        padding-top: 0;
        height: 100%;
        left: 0px;
        margin-left: 15px;
        padding-left: 0;
        position: fixed;
        overflow-x: hidden;
    }
}

.nav-level-2.open.left {
    // Phone and below
    @include breakpoint(small-max) {
        left: -100%;
    }
}

.dropdown__links {
    // position: absolute;
    margin: 0;
    // margin-bottom: 60px;
    padding: 0;
    // display: inline-block;
    // width: 70%;
    // Tablet and above
    @include breakpoint(small-min) {
        // position: relative;
        // width: 78%
    }
    // Phone and above
    @include breakpoint(small-min) {
        position: relative;
    }
    // Phone and below
    @include breakpoint(small-max) {
        width: 100%;
        height: 100%;
        position: absolute;
        // margin-top: 70px; // < Watch this !!!!!
        // margin-bottom: 200%;
    }
}

h3.dropdown__list--title {
    // Tablet and above - megamenu
    @include breakpoint(small-min) {
        display: none;
    }
    // Phone and below
    @include breakpoint(small-max) {
        display: block;
        text-align: center;
        font-size: 1.6em;
        letter-spacing: 1.25px;
        height: 70px;
        line-height: 70px;
        margin: 0;
        padding: 0 15px 0 0;
        // width: 100%;
        left: 15px;
        right: 15px;
        background-color: $gray-list-background;
        border-bottom: 1px solid $gray-list-border;
        z-index: 999999;
    }
}

.open > h3.dropdown__list--title {
    position: fixed;
    top: 55px;
    left: 15px;
    right: 15px;
}


h4.dropdown__list--title {
    // Tablet and above - megamenu
    @include breakpoint(small-min) {
        text-transform: uppercase;
        font-size: 1.1em;
        letter-spacing: 0.7px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    // Tablet and below - megamenu
    @include breakpoint(small-max) {
        display: none;
    }
}

.dropdown__list--title a {
    display: none;
    // Phone and below
    @include breakpoint(small-max) {
        color: $gray-md;
        padding: 0;
        display: block;
        width: 100%;
    }
}

.dropdown__list {
    // Tablet and above
    @include breakpoint(small-min) {
        // margin: 0 auto 1.3em;
        margin: 0 auto;
        padding: 0 0 20px 0;
    }
        // Phone and below
    @include breakpoint(small-max) {
        margin: 0 15px 0 0;
        padding: 0;
    }
}

.dropdown__list--column {
    // Tablet and below
    @include breakpoint(small-max) {
        padding: 0;
        margin: 0;
        float: none;
        // width: 100%;
    }
}

.dropdown__list--item {
    list-style-type: none;
    // Tablet and above
    @include breakpoint(small-min) {
        margin: 0 0 0.3em;
        padding: 0;
    }
    // Phone and below
    @include breakpoint(small-max) {
        margin: 0 15px 0 0;
        // margin-top: 0;
        // margin-right: 15px;
        // margin-bottom: 0;
        padding: 0;
        border-bottom: 1px solid $gray-list-border;
    }
}

.dropdown__list--item > a {
    font-size: 1.0em;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: $gray-4;
    // Phone and below
    @include breakpoint(small-max) {
        // Match font-size, margin and padding on these elements:
        // .nav-main, .dropdown__list--item > a, .sidebar__list--item > a
        text-transform: uppercase;
        // color: $gray-5;
        font-size: 1.4em;
        font-weight: 300;
        color: #FFF;
        padding: 20px 0 21px;
        display: block;
        position: relative;
        margin: 0 15px;
    }
}

.dropdown__list--item > a:hover {
    color: $red;
    // Tablet and below
    @include breakpoint(small-max) {
        color: $blue;
    }
}

.dropdown-cta {
    // Tablet and below
    @include breakpoint(small-max){
        // display: none;
        visibility: hidden;
    }
}

.dropdown-cta p {
    @extend .opensans;
    font-size: 0.95em;
    font-weight: 400;
    color: $gray-5;
    margin: 1em auto;
    padding: 0;
    height: 52px;
    overflow: hidden;
}

.dropdown-cta img {
    width: 100%;
}

.nav--prev {
    // Phone and below
    @include breakpoint(small-max) {
        padding: 10px 0;
        display: block;
        position: absolute;
        top: 20px;
        left: 15px;
        background-image: url("../img/arrow-lt.png");
        width: 24px;
        height: 25px;
        background-color: transparent;
        overflow: hidden;
    }
}