.nav-icon {
    background-image: url('../img/bowl-sprites.png');
    background-size: 330px;
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
    padding: 0;
}

.nav-small-icon {
    display: none;
    // Tablet and below
    @include breakpoint(xsmall-max) {
        font-size: 0.6em;
        text-indent: -9999px;
        height: 30px;
        width: 30px;
        background-image: url('../img/bowl-sprites.png');
        background-size: 300px;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: 1px -54px;
        position: absolute;
        top: 9px;
        left: 27px;
        display: block;
        // left: 15px;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        left: 14px;
        top: 13px;
        background-position: 1px -82px;
    }
}

.nav-small-icon.open {
    background-position: -53px -80px;
}

.nav-dropdown {
    top: -1px;
    // Phone and below
    @include breakpoint(xsmall-max) {
        position: relative;
        width: 100%;
        height: 100%;
        top: 55px;
        z-index: 99;
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        display: none;
    }
}

.nav-dropdown.open {
    display: block;
    background-color: #FFF;
    // Phone and below
    @include breakpoint(xsmall-max) {
        background-color: $gray-dk;
        left: 0;
        right: 0;
        top: 55px;
        bottom: 0;
        position: fixed;
        display: block;
        z-index: 1;
    }
}

.nav-dropdown.close {
    // Phone and below
    @include breakpoint(xsmall-max) {
        width: 100%;
        height: 0;
    }
}

.dropdown-wrapper {
    position: relative;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    padding: 25px 30px;
    // min-height: 260px;
    // Phone and below
    @include breakpoint(xsmall-max) {
        padding: 25px 15px;
    }
}

.dropdown-wrapper.open {
    display: block;
    background-color: #FFF;
}

.nav-level-1 {
    // Phone and below
    @include breakpoint(xsmall-max) {
        left: 100%;
        transition: height 1.25s;
        height: 0;
    }
}

.nav-level-1.open {
    // Phone and below
    @include breakpoint(xsmall-max) {
        position: fixed;
        height: 100%;
        top: 55px;
        background-color: $gray-dk;
        display: block;
        padding-top: 0;
        left: 0;
        right: 0;
        transition: left .25s;
    }
}
.nav-level-1.open.left {
    // Phone and below
    @include breakpoint(xsmall-max) {
        left: -100%;
    }
}

.nav-level-2 {
    display: none;
    // Phone and below
    @include breakpoint(xsmall-max) {
        transition: left .25s;
        background-color: $gray-dk;
        position: fixed;
        display: block;
        left: 100%;
        z-index: 2;
    }
}

.nav-level-2.open {
    display: block;
    // Phone and below
    @include breakpoint(xsmall-max) {
        background-color: $gray-dk;
        position: fixed;
        top: 55px;
        display: block;
        padding-top: 0;
        left: 0;
        transition: left .25s;
    }
}

.nav-level-2.left {
    // Phone and below
    @include breakpoint(xsmall-max) {
        left: -100%;
    }
}

.nav-level-3 {
    // Phone and above
    @include breakpoint(xsmall-min) {
        display: none;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        background-color: $gray-dk;
        position: fixed;
        display: block;
        left: 100%;
        top: 55px;
        padding-top: 0;
        transition: left .25s;
        z-index: 3;
    }
}

.nav-level-3.open {
    // Phone and below
    @include breakpoint(xsmall-max) {
        position: fixed;
        top: 55px;
        background-color: $gray-dk;
        display: block;
        padding-top: 0;
        left: 0;
        transition: left .25s;
        z-index: 999;
    }
}



.dropdown__links {
    // position: absolute;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 70%;
    // Phone and above
    @include breakpoint(xsmall-min) {
        position: relative;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        width: 100%;
        position: absolute;
    }
}

.dropdown__list--title {
    display: none;
    // Phone and below
    @include breakpoint(xsmall-max) {
        display: block;
        text-align: center;
        font-size: 1.35em;
        letter-spacing: 1.25px;
        height: 52px;
        line-height: 50px;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #555;
    }
}

.nav--prev {
    // Phone and below
    @include breakpoint(xsmall-max) {
        padding: 10px 0;
        display: block;
        position: absolute;
        top: 14px;
        left: 15px;
        background-image: url("../img/arrow-lt.png");
        width: 24px;
        height: 25px;
        background-color: transparent;
        overflow: hidden;
    }
}

// .dropdown__list--title::after {
    // Phone and below
//     @include breakpoint(xsmall-max) {
//         padding: 10px 0;
//         display: block;
//         position: absolute;
//         top: 5px;
//         left: 5px;
//         content: url("../img/arrow-lt.png");
//         width: 30px;
//         height: 40px;
//         background-color: transparent;
//         overflow: hidden;
//     }
// }

.dropdown__list--title a {
    display: none;
    // Phone and below
    @include breakpoint(xsmall-max) {
        color: $gray-md;
        padding: 0;
        display: block;
        width: 100%;
    }
}

.dropdown__list--column {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin: 0 5em 0 0;
    padding: 0;
    // Phone and above
    @include breakpoint(xsmall-min) {
        margin: 0 2em 0 0;
    }
    // Phone and below
    @include breakpoint(small-max) {
        display: block;
        margin-right: 15px;
    }
}

.dropdown__list--column .dropdown__list--column {
    // Phone and above
    @include breakpoint(xsmall-min) {
        font-size: 0.9em;
        margin-left: 0;
    }
}

.dropdown__list--item {
    list-style-type: none;
    margin: 0 0 0.6em;
    padding: 0;
    // Phone and below
    @include breakpoint(xsmall-max) {
        margin: 10px 15px 10px 0;
        border-bottom: 1px solid #555;
    }
}

.dropdown__list--item > a {
    font-size: 1.1em;
    letter-spacing: 0.8px;
    font-weight: 400;
    color: $gray-dk;
    margin: 0;
    padding: 0;
    // Phone and below
    @include breakpoint(xsmall-max) {
        font-weight: 300;
        color: #FFF;
        padding: 5px 0 15px;
        display: block;
        position: relative;
        margin: 0;
    }
}

.dropdown__list--item a.has-children::after {
    // Phone and below
    @include breakpoint(xsmall-max) {
        padding: 10px 0;
        display: block;
        position: absolute;
        top: -8px;
        right: -10px;
        content: url("../img/arrow-rt.png");
        width: 30px;
        height: 40px;
        background-color: transparent;
        overflow: hidden;
    }
}

.dropdown-cta {
    display: inline-block;
    position: absolute;
    padding: 0;
    height: auto;
    right: 30px;
    // Desktop and above
    @include breakpoint(medium-min) {
        width: 220px;
    }
    // Desktop and below
    @include breakpoint(medium-max) {
        width: 180px;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        display: none;
    }
    p {
        font-size: 0.85em;
        font-weight: 700;
        color: $gray-md;
        margin: 1em auto;
        padding: 0;
    }
}

.dropdown-cta img {
    width: 100%;
}