.nav-dropdown {
    position: relative;
    top: -1px;
}

.dropdown-wrapper {
    background-color: #FFF;
    width: 100%;
    padding: 25px 30px;
    min-height: 260px;
    height: auto;
    display: none;
}

.dropdown-wrapper.bowlers.open {
    display: block;
}

.dropdown__links {
    position: absolute;
    margin: 0;
    padding: 0;
    display: inline-block;
    @include breakpoint(small) {
        width: 60%;
    }
}

.dropdown__list--column {
    // position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin: 0 8em 0 0;
    padding: 0;
    @include breakpoint(medium) {
        margin-right: 4em;
    }
}

.dropdown__list {
    // list-style: none;
}

.dropdown__list--item {
    list-style-type: none;
    margin: 0 0 0.6em;
    padding: 0;
}

.dropdown__list--item a {
    font-size: 1.0em;
    font-weight: 400;
    color: $gray-dk;
    margin: 0;
    padding: 0;
}

.dropdown-cta {
    display: inline-block;
    right: 30px;
    position: absolute;
    width: 220px;
    padding: 0;
    height: auto;
    p {
        font-size: 0.85em;
        font-weight: 700;
        color: $gray-md;
        margin: 1em auto;
        padding: 0;
    }
}