.nav-secondary {
    position: absolute;
    right: -5px;
    top: 12px;
    // Desktop and below
    @include breakpoint(medium-max) {
        // right: 3px;
    }
    // Tablet and below
    @include breakpoint(small-max) {
        right: 9px;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        right: 7px;
    }
}

.social-links {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 82px;
    top: 0px;
    right: 48px;
    // Desktop and below
    @include breakpoint(medium-max) {
        top: 1px;
        right: 43px;
    }
    // Tablet and below
    @include breakpoint(small-max) {
        display: none;
    }
}

.social-links > li {
    text-indent: -9999px;
    display: inline-block;
    margin: 0 1px;
    padding: 0;
}

.facebook {
    width: 21px;
    height: 21px;
    @extend .nav-icon;
    background-position: -94px -6px;
}

.facebook:hover {
    background-position: -94px -36px;
}

.twitter {
    width: 21px;
    height: 21px;
    @extend .nav-icon;
    background-position: -126px -6px;
}

.twitter:hover {
    background-position: -126px -36px;
}

.youtube {
    height: 21px;
    width: 26px;
    @extend .nav-icon;
    background-position: -153px -6px;
}

.youtube:hover {
    background-position: -153px -36px;
}