.nav-main {
    letter-spacing: 0.8px;
    position: absolute;
    right: 15px;
    top: 52px;
    margin:  0;
    padding: 0;
    text-transform: uppercase;
    transition: all 0.2s;
    // Desktop and below
    @include breakpoint(medium-max) {
        top: 40px;
    }
    // Tablet and below
    @include breakpoint(small-max) {
        right: 15px;
        @extend .opensans;
    }
}

.nav-main.scroll {
    // Tablet and above
    @include breakpoint(small-min) {
        top: 15px;
        right: 175px;
    }
    // Desktop and above
    @include breakpoint(medium-min) {
        // top: 15px;
        right: 270px;
    }
    // iPad portrait
    @include breakpoint(ipad-portrait) {
        top: 15px;
        right: 175px;
    }
    // Tablet and below
    @include breakpoint(small-max) {
        top: 54px;
        right: 183px;
    }
    // Phone and below
    @include breakpoint(xsmall-max) {
        top: 55px;
    }
}

.nav__list {
    list-style: none;
}

.nav__list:last-child {
    // padding-right: 0;
    // Phone and below
    // @include breakpoint(small-max) {
    //     padding-right: 15px;
    // }
}

.nav__list--item {
    display: inline-block;
    margin-left: 27px;
    padding: 0;
    position: relative;

    // Large Dektop and below
    @include breakpoint(large-max) {
        margin-left: 25px;
    }
    // Desktop and below
    @include breakpoint(medium-max) {
        margin-left: 11px;
        padding: 0;
    }
    // Tablet and below
    @include breakpoint(small-max) {
        display: block;
        margin: 0;
        padding: 0 5px 0 15px;
        border-bottom: 1px solid $gray-list-border;
    }
}

.nav-level-1.open .nav__list {
    padding: 0 15px;
}

.nav__list--item a {
    color: $blue;
    @extend .oswald;
    font-size: 1.1em;
    font-weight: 400;
    display: block;
    // Tablet and above
    @include breakpoint(small-min) {
        height: 30px;
    }
    @include breakpoint(ipad-portrait) {
        height: 30px;
    }
    // Desktop and above
    @include breakpoint(medium-min) {
        height: 45px;
    }
    // Desktop and below
    @include breakpoint(medium-max) {
        font-size: 0.95em;
        // height: 28px;
    }
    // Tablet and below
    @include breakpoint(small-max) {
        font-family: "Open Sans", sans-serif;
        letter-spacing: 2px;
        font-weight: 300;
        color: #FFF;
        padding: 23px 0;
        display: block;
        position: relative;
        margin: 0;
        // Match font-size, margin and padding on these elements:
        // .nav-main, .dropdown__list--item > a, .sidebar__list--item > a
        text-transform: uppercase;
        font-size: 1.5em;
        line-height: 22px;
    }
}

.nav__list--item a:focus {
    text-decoration: none;
    outline: 0;
}

.nav__list--item .active,
.nav__list--item .active:hover {
    text-decoration: none;
    color: $red;
    // Phone and below
    @include breakpoint(small-max) {
        // color: $blue;
        color: inherit;
    }
}

.nav__list--item .active, .nav__list--item .active:hover {
    text-decoration: none;
    color: $red;
    @include breakpoint(ipad-landscape) {
        color: $red;
    }
    // Tablet and below
    @include breakpoint(small-max) {
        color: $blue;
    }
}

.nav__list--item a.active::before {
    content: '';
    display: block;
    width: 50%;
    height: 4px;
    position: absolute;
    bottom: 3px;
    left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom:4px solid $blue;
    border-left: 2px solid transparent;
    margin: 0 auto;
    @include breakpoint(medium-max) {
        // border-bottom:6px solid $blue;
        // border-left: 3px solid transparent;
        // bottom: 2px;
    }
    @include breakpoint(small-max) {
        content: none;
    }
}

.nav__list--item a.no-children::after {
    content: none;
}

.nav__list--item a.active::after {
    content: '';
    display: block;
    width: 50%;
    height: 4px;
    position: absolute;
    bottom: 3px;
    right: 0;
    border-right: 2px solid transparent;
    border-left: 0;
    border-top: 4px solid $blue;
    border-bottom: 0;
    margin: 0 auto;
    @include breakpoint(medium-max) {
        // border-top:6px solid $blue;
        // border-right: 3px solid transparent;
        // bottom: 2px;
    }
   // Phone and below
    @include breakpoint(small-max) {
        content: "";
        @extend .nav-icon;
        background-position: -205px -147px;
        height: 35px;
        width: 35px;
        position: absolute;
        top: 16px;
        right: 0px;
        border: 0 none;
    }
}

// .nav-main.scroll .nav__list--item a:hover::after,
.nav__list--item a::after {
   // Phone and below
    @include breakpoint(small-max) {
        content: "";
        @extend .nav-icon;
        background-position: -205px -117px;
        height: 35px;
        width: 35px;
        position: absolute;
        top: 16px;
        right: 0px;
    }
}

.nav-main.scroll .nav__list--item a {
    @include breakpoint(small-min) {
        height: 30px;
    }
    @include breakpoint(ipad-portrait) {
        height: 27px;
    }
    // Desktop and above
    @include breakpoint(medium-min) {
        height: 28px;
    }
}

.nav-main.scroll .nav__list--item a.active::before {
    bottom: 0;
}

.nav-main.scroll .nav__list--item a:hover::after,
.nav-main.scroll .nav__list--item a.active::after {
    bottom: 0;
    // // iPad portrait
    // @include breakpoint(ipad-portrait) {
    //     margin-top: 5px;
    // }
    // Phone and above
    @include breakpoint(small-min) {
        margin-top: 3px;
    }
    // Phone and below
    @include breakpoint(small-max) {
        // margin-top: 4px;
    }
}
