.nav-secondary {
    position: absolute;
    right: 10px;
    top: 12px;
    @include breakpoint(medium) {
        right: 20px;
    }
}

.social-links {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 82px;
    top: -2px;
    right: 48px;
    @include breakpoint(medium) {
        display: none;
    }
}

.social-links > li {
    text-indent: -9999px;
    display: inline-block;
    margin: 0 1px;
    padding: 0;
}

.facebook {
    width: 21px;
    height: 21px;
    @extend .nav-icon;
    background-position: -94px -6px;
    // padding: 0;
}

.facebook:hover {
    background-position: -94px -36px;
}

.twitter {
    width: 21px;
    height: 21px;
    @extend .nav-icon;
    background-position: -125px -6px;
    // padding: 0;
}

.twitter:hover {
    background-position: -125px -36px;
}

.youtube {
    height: 21px;
    width: 26px;
    @extend .nav-icon;
    background-position: -153px -7px;
    // padding: 0;
}

.youtube:hover {
    background-position: -153px -37px;
}

