.nav-main {
    font-size: 1.1em;
    letter-spacing: 0.8px;
    position: absolute;
    right: 10px;
    top: 52px;
    @extend .oswald;
    text-transform: uppercase;
    transition: height 2.5s;

    @include breakpoint(nav) {
        top: 12px;
        right: 230px;
    }
    @include breakpoint(medium) {
        position: fixed;
        display: none;
        top: 45px;
        left: 0;
        width: 100%;
        height: 10px;
        background-color: $gray-dk;
        font-family: "Open Sans", sans-serif;
    }
}

.nav-main.open {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
}

.nav__list {
    list-style: none;
    padding-left: 0;
    margin-left: -5px;
    height: 22px;
    transition: left 0.5s;

    @include breakpoint(medium) {
        width: 750px;
        margin: 0 auto;
        padding: 0;
    }
    @include breakpoint(small) {
        width: 100%;
    }
}

.nav-main.open .nav__list {
    transition: left 0.5s;
    left: 0;
}

.nav-main.open.left .nav__list {
    @include breakpoint(medium) {
        position: absolute;
        left: -100%;
    }
}


// .nav-main.left .nav__list {
//     left: -100%
// }

.nav__list--item {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 1.5em;
    @include breakpoint(medium) {
        display: block;
        margin: 10px 0px;
        border-bottom: 1px solid #555;
    }
    @include breakpoint(small) {
        margin: 10px 15px;
    }
    @include breakpoint(xsmall) {
        margin: 10px 15px;
    }
}

.nav__list--item a {
    color: $blue;
    font-weight: 400;
    @include breakpoint(medium) {
        font-weight: 300;
        color: #FFF;
        padding: 5px 0 15px;
        display: block;
        position: relative;
        margin: 0;
    }
}

.nav__list--item a:after {
    @include breakpoint(medium) {
        padding: 10px 0;
        display: block;
        position: absolute;
        top: -8px;
        right: -10px;
        content: url("../img/arrow-rt.png");
        width: 30px;
        height: 40px;
        background-color: transparent;
        overflow: hidden;
        // border: 1px solid red;
    }
    @include breakpoint(small) {
        // right: -10px;
    }
}

.nav__list--item a:focus {
    text-decoration: none;
}

.nav__list--item a:hover {
    text-decoration: none;
    color: $red;
    @include breakpoint(medium) {
        color: $blue;
    }
}

.nav__list--item a:hover:after {
    content: '';
    display: block;
    background-color: $blue;
    width: auto;
    height: 4px;
    margin: 17px auto 0;
    @extend .skew;

    @include breakpoint(nav) {
        // display: none;
    }
    @include breakpoint(medium) {
        @extend .skew-reset;
        position: absolute;
        top: -8px;
        right: -10px;
        width: 30px;
        height: 40px;
        margin: 0;
        padding: 10px 0;
        content: url("../img/arrow-rt.png");
        background-color: transparent;
    }
}

.nav-icon {
    background-image: url('../img/bowl-sprites.svg');
    background-size: 330px;
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
}

.nav-small-icon {
    font-size: 0.6em;
    padding-top: 27px;
    // text-align: center;
    text-indent: -9999px;
    height: 30px;
    width: 30px;
    background-image: url('../img/bowl-sprites.svg');
    background-size: 300px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 1px -55px;
    position: absolute;
    top: 9px;
    display: none;
    @include breakpoint(medium) {
        display: block;
    }
}

.nav-small-icon.open {
    background-position: -53px -80px;
}