.container.news {
    overflow: hidden;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    // Desktop and below
    @include breakpoint(medium-max) {
        margin-top: 0;
        margin-bottom: 15px;
        padding: 0 15px;
    }
}

.news-2 .article {
    // height: 333px;
    height: auto;
    margin-bottom: 30px;
    // Tablet and below
    @include breakpoint(medium-max) {
        height: 310px;
        margin-bottom: 30px;
    }
    // Phone and below
    @include breakpoint(small-max) {
        height: auto;
        margin-bottom: 20px;
    }
}

.news-2 .article .article__image-wrapper {
    max-height: 220px;
    overflow: hidden;
    margin-bottom: 15px;
    // Tablet and below
    @include breakpoint(medium-max) {
        max-height: 175px;
    }
    // Tablet and below
    @include breakpoint(small-max) {
        max-height: none;
        margin-bottom: 0;
    }
}

.main-content__body .news-2 .article {
    height: 304px;
    margin-bottom:20px;
    // Tablet and below
    @include breakpoint(small-max) {
        height: auto;
    }
}


.news-3 .article {
    // Tablet and below
    @include breakpoint(medium-max) {
        height: 315px;
        margin-bottom: 15px;
    }
    // Phone and below
    @include breakpoint(small-max) {
        height: auto;
    }
}

.article--list {
    height: auto;
    overflow: visible;
}