.container-fluid.news .container {
    // width: 970px;
    // @include breakpoint(medium-max) { width: 758px; }
    // @include breakpoint(small-max) { width: 452px; }
    padding-left: 0;
    padding-right: 0;
}

.news {
    overflow: hidden;
    position: relative;
}

