.news {
    overflow: hidden;
}

.news .wrapper {
    position: relative;
    padding: 5em 8em;
    @include breakpoint(large) {
        padding: 5em 8em;
    }
    @include breakpoint(medium) {
        padding: 2em 4em;
    }
    @include breakpoint(medium) {
        padding: 1em 30px;
    }
}

.article .wrapper {
    width: 460px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.article__title {
    @extend .opensans;
    color: $gray-dk;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: none;
    padding: 0 0 20px;
}