a:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0;
}

.container-fluid {
    overflow: hidden;
    position: relative;
    padding: 0;
    // Phone and below
    @include breakpoint(xsmall-max) {}
}

.container {
    // max-width: 992px !important;
    max-width: 970px !important;
    margin: 20px auto;
    // Tablet and below
    @include breakpoint(small-max) {}
    // Phone and below
    @include breakpoint(xsmall-max) {
        margin-bottom: 0px;
        padding-right: 30px;
        padding-left: 30px;
        padding-right: 15px;
        padding-left: 15px;
    }
    // iPhone and below
    @include breakpoint(iphone) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.container {
    @media (min-width: 750px) {
        width: 758px;
    }
    @media (min-width: 992px) {
        // width: 940px;
        width: 970px;
    }
}

.main-content__body .container {
    @media (min-width: 750px) {
        width: 505.328px;
    }
    @media (min-width: 992px) {
        // width: 940px;
        width: 646.656px;
    }
}
