.quick-links {
    position: relative;
    padding: 0 45px;
    @include breakpoint(small) {
        padding: 0;
    }
}

.quick-links .row {
    padding-top: 3em;
}

.quick-link {
    display: block;
    margin: 2em auto;
}

.quick-link:hover {
    text-decoration: none;
}

.quick-link:hover .quick-link__title {
    color: $blue;
    text-decoration: none;
}

.quick-link__image {
    display: block;
    margin: 0 auto;
}

.quick-link__title {
    font-size: 1.2em;
    line-height: 1.3em;
    color: $gray-dk;
    text-align: center;
    margin: .75em 0 0;
}
