
.secondary-links.search-container {
    position: absolute;
    top: -5px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 15px;
    transition: width 0.2s;
}

.secondary-links.search-container.open {
    width: 240px;
    background-color: $gray-lt;
    border: 1px solid $gray-md;
}

.nav-icon.search {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    @extend .nav-icon;
    background-position: -185px -1px;
    right: 0;
}

.nav-icon.search:hover, .nav-icon.search.open {
    background-position: -185px -31px;
}

.search__input {
    background-color: transparent;
    border: 0 none;
    display: inline-block;
    position: absolute;
    width: 190px;
    // width: 0;
    height: 26px;
    margin: 1px 15px;
    // display: none;
    // visibility: hidden;
}

.nav-icon.search.open .search__input {
    // visibility: visible;
    // width: 190px;
}

.search__button {
    background-color: transparent;
    border: 0 none;
    display: inline-block;
    position: absolute;
}

.search__input:focus,
.search__input:active:focus,
.search__button:focus,
.search__button:active:focus{
    outline:none;
}


// Plugin Styles Below

// .sb-search {
//     position: relative;
//     margin-top: 10px;
//     width: 0%;
//     min-width: 60px;
//     height: 60px;
//     float: right;
//     overflow: hidden;
//     -webkit-transition: width 0.3s;
//     -moz-transition: width 0.3s;
//     transition: width 0.3s;
//     -webkit-backface-visibility: hidden;
// }

// .sb-search-input {
//     position: absolute;
//     top: 0;
//     right: 0;
//     border: none;
//     outline: none;
//     background: #fff;
//     width: 100%;
//     height: 60px;
//     margin: 0;
//     z-index: 10;
//     padding: 20px 65px 20px 20px;
//     font-family: inherit;
//     font-size: 20px;
//     color: #2c3e50;
// }

// .sb-search-input::-webkit-input-placeholder {
//     color: #efb480;
// }

// .sb-search-input:-moz-placeholder {
//     color: #efb480;
// }

// .sb-search-input::-moz-placeholder {
//     color: #efb480;
// }

// .sb-search-input:-ms-input-placeholder {
//     color: #efb480;
// }

// .sb-icon-search,
// .sb-search-submit  {
//     width: 60px;
//     height: 60px;
//     display: block;
//     position: absolute;
//     right: 0;
//     top: 0;
//     padding: 0;
//     margin: 0;
//     line-height: 60px;
//     text-align: center;
//     cursor: pointer;
// }

// .sb-search-submit {
//     background: #fff; /* IE needs this */
//     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
//     filter: alpha(opacity=0); /* IE 5-7 */
//     opacity: 0;
//     color: transparent;
//     border: none;
//     outline: none;
//     z-index: -1;
// }

// .sb-icon-search {
//     color: #fff;
//     background: #e67e22;
//     z-index: 90;
//     font-size: 22px;
//     font-family: 'icomoon';
//     speak: none;
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     text-transform: none;
//     -webkit-font-smoothing: antialiased;
// }

// .sb-icon-search:before {
//     content: "\e000";
// }

// /* Open state */
// .sb-search.sb-search-open,
// .no-js .sb-search {
//     width: 100%;
// }

// .sb-search.sb-search-open .sb-icon-search,
// .no-js .sb-search .sb-icon-search {
//     background: #da6d0d;
//     color: #fff;
//     z-index: 11;
// }

// .sb-search.sb-search-open .sb-search-submit,
// .no-js .sb-search .sb-search-submit {
//     z-index: 90;
// }
