
.secondary-links.search-container {
    position: absolute;
    top: -5px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 15px;
    transition: width 0.125s;
}

.secondary-links.search-container.open {
    width: 240px;
    background-color: $gray-lt;
    border: 1px solid $gray-md;
}

.nav-icon.search {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    @extend .nav-icon;
    background-position: -185px -1px;
    right: 0;
}

.nav-icon.search:hover, .nav-icon.search.open {
    background-position: -185px -31px;
}

.search__input {
    background-color: transparent;
    border: 0 none;
    display: inline-block;
    position: absolute;
    width: 190px;
    height: 26px;
    margin: 1px 15px;
}

.search__button {
    background-color: transparent;
    border: 0 none;
    display: inline-block;
    position: absolute;
}

.search__input:focus,
.search__input:active:focus,
.search__button:focus,
.search__button:active:focus{
    outline:none;
}