body.search-open {
    @include breakpoint(small-max) {
        margin-top: 125px;
    }
}

.secondary-links.search-container {
    position: absolute;
    top: -5px;
    right: 0;
    width: 30px;
    height: 30px;
    transition: width 0.25s, height .25s;
    // Tablet and below
    @include breakpoint(small-max) {
        width: 45px;
        height: 45px;
    }
}

.secondary-links.search-container.open {
    width: 240px;
    // Tablet and below
    @include breakpoint(small-max) {
        top: 54px;
        height: 70px;
        width: 100%;
        position: fixed;
        background-color: #FFF;
        border-bottom: 1px solid $gray-2;
    }
}

.nav-icon--search {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    @extend .nav-icon;
    background-position: -185px 0px;
    right: 0;
    position: absolute;
    // Tablet and below
    @include breakpoint(small-max) {
        top: 4px;
        right: 5px;
        width: 30px;
        height: 30px;
        background-position: -32px -90px;
    }
}

.nav-icon--search.open, .nav-icon--search.open:hover {
    // Tablet and below
    @include breakpoint(small-max) {
        background-position: -62px -90px;
        top: -42px;
        right: 12px;
    }
}

.nav-icon--search:hover {
    background-position: -185px -30px;
    // Phone and below
    @include breakpoint(small-max) {
        background-position: -32px -90px;
    }
}

.search__input--wrapper {
    display: none;
    transition: width 0.125s;
    width: 100%;
    height: 30px;
    background-color: $gray-input;
    border: 1px solid $gray-input-border;
    border-radius: 15px;
    text-indent: -9999px;
    top: 0px;
    position: absolute;
    right: 0;
    // Tablet and below
    @include breakpoint(small-max) {
        top: 4px;
        right: 15px;
        left: 15px;
        width: 30px;
        height: 30px;
        background-position: -31px -89px;
        border-radius: 22px;
        height: 44px;
    }
}


.search__input--wrapper.open {
    display: block;
    width: 100%;
    position: relative;
    // Tablet and below
    @include breakpoint(small-max) {
        position: absolute;
        width: auto;
        left: 15px;
        right: 54px;
        top: 5px;
    }
}

.search__input--wrapper.open .search__input {
    // Tablet and below
    @include breakpoint(small-max) {
        font-size: 1.3em;
        display: block;
        height: 40px;
        width: 88%;
    }
    // Tablet and below
    @include breakpoint(xsmall-max) {
        height: 35px;
    }
}

.search__input {
    display: none;
    background-color: transparent;
    border: 0 none;
    display: inline-block;
    position: absolute;
    width: 190px;
    height: 26px;
    margin: 1px 15px;
    // Phone and below
    @include breakpoint(xsmall-max) {
        width: 190px;
        height: 30px;
        margin: 4px 0 4px 15px;
        padding: 0;
    }
}
.search__input--wrapper.open .search__submit--icon {
    background-position: -184px -31px;
    @include breakpoint(small-max) {
        background-size: 330px;
        top: 1px;
        right: -43px;
        background-position: -31px -89px;
    }
}

.search__submit--icon {
    text-indent: -9999px;
    @extend .nav-icon;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    border: 0 none;
    background-color: transparent;
    background-position: -185px -1px;
    // Tablet and below
    @include breakpoint(small-max) {
        right: -60px;
    }
}

.search__input:focus,
.search__input:active:focus,
.search__button:focus,
.search__button:active:focus{
    outline:none;
}