.sidebar-search__wrapper {
    position: relative;
    border: 1px solid $gray-input-border;
    background-color: $gray-input;
    height: 45px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 30px;
    padding: 0;
    // Tablet and below
    @include breakpoint(small-max) {
        display: none;
    }
}

.search__input--sidebar {
    @extend .search__input;
    width: 85%;
    margin-top: 4px;
    height: 35px;
    color: $gray-body;
    font-size: 1.1em;
}

.search__submit--sidebar {
    top: 8px;
    right: 2px;
    background-position: -185px -31px;
}