.slider {
    overflow: hidden;
    height: 400px;
    position: relative;
}

.container-fluid.slider .container {
    position: relative;
    padding-right: 0;
    padding-left: 0;
}

.slides {
    z-index: 1;
}

.slide {
    height: 400px;
    width: auto;
    color: #FFF;
    // @extend .no-skew;
}

.slide__text-container {
    background-color: $red;
    height: 100px;
    position: absolute;
    bottom: 30px;
    width: 750px;
    z-index: 99;
}

.slide__image-container {
    position: absolute;
    height: 400px;
    width: auto;
    margin: 0 auto;
    z-index: -1;
}

// .slide__link {
//     position: absolute;
//     display: block;
//     left: 200px;
//     @extend .no-skew;
// }


.slide__title {
    // @extend .no-skew;
    color: #FFF;
    font-size: 1.9em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 20px;
    text-transform: uppercase;
}

.slide__cta {
    // @extend .no-skew;
    color: #FFF;
    font-size: 1.1em;
    font-weight: 300;
    text-transform: uppercase;
}

.slide:focus,
.slide:active,
.slide:active:focus {
    outline: none;
}

:focus,
:active,
:active:focus {
    outline: none;
}

// .stripes--slider {
//     position: absolute;
//     z-index: 99;
//     height: 400px;
//     left: 0;
//     right: 0;
// }

.slider--stripes {
    height: 400px;
}

.slider--stripes .stripe {
    // left: -60px;
    width: 348px;
    position: absolute;
    background-color: $blue;
    opacity: 1.0;
    @include breakpoint(large) {
        // width: 445px;
        width: 348px;
    }
    @include breakpoint(medium-max) {
        width: 350px;
    }
}

.slider--stripes .stripe + .stripe {
    // left: -60px;
    width: 408px;
    background-color: $blue;
    opacity: 0.5;
    @include breakpoint(large) {
        // width: 505px;
        width: 408px;
    }
    @include breakpoint(medium-max) {
        width: 410px;
    }
}

.slider--stripes .stripe--right {
    right: -110px;
    width: 180px;
    background-color: $blue;
    opacity: 1.0;
    @include breakpoint(large) {
        width: 240px;
    }
    @include breakpoint(medium-max) {
        // right: -10px;
        right: -160px;
    }
    @include breakpoint(small-max) {
        right: -160px;
    }
}

.slider--stripes .stripe--right + .stripe--right {
    right: -110px;
    width: 235px;
    background-color: $blue;
    opacity: 0.5;
    @include breakpoint(large) {
        width: 300px;
    }
    @include breakpoint(medium-max) {
        // right: -10px;
        right: -160px;
    }
    @include breakpoint(small-max) {
        right: -160px;
    }
}

.stripe--overlay {
    position: absolute;
    background-color: $red;
    height: 100px;
    width: 500px;
    left: -300px;
    bottom: 30px;
    z-index: 9;
}



// SlickJS Overrides

.slick-slide, .slick-slide:focus, .slick-slide:active {
    outline: none !important;
    border: 0 none;
}

.slick-arrow {
    border: 0 none;
    width: 35px;
    height: 35px;
    top: 175px;
    text-indent: -9999px;
    background-image: url("../img/bowl-sprites.png");
    background-size: 450px;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    z-index: 99;
}

.slick-prev.slick-arrow {
    left: 0;
    background-position: -210px -127px;
    @include breakpoint(large) {
        left: 15px;
    }
}

.slick-next.slick-arrow {
    right: 0;
    background-position: -210px -87px;
    @include breakpoint(large) {
        right: 15px;
    }
}