.slider {
    overflow: hidden;
    height: 400px;
    position: relative;
}

.container-fluid--slider {
    @extend .container-fluid;
    position: relative;
    height: 400px;
    overflow: hidden;
}


.slider-container {
    position: relative;
    overflow: hidden;
}

.slider--overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 400px;
}

.slider--overlay .slick-list {
    height: 100px;
    top: 270px;
    left: -30px;
    width: 755px;
    padding-right: 50px;
    @extend .skew;
}

.slider--overlay .slick-track {
    height: 100px;
}

.slider--overlay .slick-slide {
    height: 100px;
}

.slider--background {
    height: 400px;
    overflow: hidden;
    z-index: 9;
}

.slides {
    z-index: 1;
}

.slide {
    height: 400px;
    width: auto;
    color: #FFF;
    // @extend .no-skew;
}

.slide .wrapper {
    background-color: $red;
    width: 999px;
    height: 100px;
    right: 180px;
    position: relative;
}

.slide--image {
    height: 400px;
    margin: 0 auto;
    // @extend .skew-reset;
}

.slide__image {
    position: relative;
    height: 400px;
    width: auto;
    margin: 0 auto;

}

.slide__link {
    // position: relative;
    position: absolute;
    display: block;
    left: 200px;
    @extend .no-skew;
    // width: 500px;
    // width: 800px;
}


.slide__title {
    // @extend .no-skew;
    color: #FFF;
    font-size: 1.9em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 20px;
    text-transform: uppercase;
}

.slide__cta {
    // @extend .no-skew;
    color: #FFF;
    font-size: 1.1em;
    font-weight: 300;
    text-transform: uppercase;
}

.slide:focus,
.slide:active,
.slide:active:focus {
    outline: none;
}

:focus,
:active,
:active:focus {
    outline: none;
}

.stripes--slider {
    position: absolute;
    z-index: 99;
    height: 400px;
    left: 0;
    right: 0;
}

.stripes--slider .stripe {
    // left: -60px;
    width: 347px;
    background-color: $blue;
    opacity: 1.0;
    @include breakpoint(large) {
        width: 445px;
    }
    @include breakpoint(medium) {
        width: 350px;
    }
}

.stripes--slider .stripe + .stripe {
    // left: -60px;
    width: 407px;
    background-color: $blue;
    opacity: 0.5;
    @include breakpoint(large) {
        width: 505px;
    }
    @include breakpoint(medium) {
        width: 410px;
    }
}

.stripes--slider .stripe--right {
    right: -110px;
    width: 180px;
    background-color: $blue;
    opacity: 1.0;
    @include breakpoint(large) {
        width: 240px;
    }
    @include breakpoint(medium) {
        // right: -10px;
        right: -160px;
    }
    @include breakpoint(small) {
        right: -160px;
    }
}

.stripes--slider .stripe--right + .stripe--right {
    right: -110px;
    width: 235px;
    background-color: $blue;
    opacity: 0.5;
    @include breakpoint(large) {
        width: 300px;
    }
    @include breakpoint(medium) {
        // right: -10px;
        right: -160px;
    }
    @include breakpoint(small) {
        right: -160px;
    }
}

.stripe--overlay {
    position: absolute;
    background-color: $red;
    height: 100px;
    width: 500px;
    left: -300px;
    bottom: 30px;
    z-index: 9;
}



// SlickJS Overrides

.slick-slide, .slick-slide:focus, .slick-slide:active {
    outline: none !important;
    border: 0 none;
}

.slick-arrow {
    border: 0 none;
    width: 35px;
    height: 35px;
    top: 175px;
    text-indent: -9999px;
    background-image: url("../img/bowl-sprites.svg");
    background-size: 450px;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    z-index: 9;
}

.slick-prev.slick-arrow {
    left: 0;
    background-position: -210px -127px;
    @include breakpoint(large) {
        left: 15px;
    }
}

.slick-next.slick-arrow {
    right: 0;
    background-position: -210px -87px;
    @include breakpoint(large) {
        right: 15px;
    }
}