.slider {
    height: 400px;
    position: relative;
}

.slider-image__container {
    position: relative;
    height: 400px;
    max-width: 1080px;
    overflow: hidden;
}

.slider img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.slider .stripe {
    left: -888px;
    background-color: $blue;
    opacity: 1.0;
}

.slider .stripe + .stripe {
    left: -828px;
    background-color: $blue;
    opacity: 0.5;
}

.slider .stripe--right {
    right: -20px;
    width: 180px;
    background-color: $blue;
    opacity: 1.0;
}

.slider .stripe--right + .stripe--right {
    right: -20px;
    width: 240px;
    background-color: $blue;
    opacity: 0.5;
}

.slider .stripe--right + .stripe--right + .stripe--right {
    right: -660px;
    width: 640px;
    background-color: #FFF;
    opacity: 1.0;
}

