.top-news {
    position: relative;
    height: 253px;
    margin-bottom: 30px;
}

.top-news__title {
    color: #333;
    background-color: $gray-3;
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    height: 38px;
    line-height: 40px;
    margin: 0;
    padding: 0 8px 0 15px;
    position: absolute;
    z-index: 99;
    // Tablet and below
    @include breakpoint(medium-max) {
        font-size: 0.91em;
        height: 29px;
        line-height: 31px;
    }
    // Phone and below
    @include breakpoint(small-max) {
        font-size: 1.5em;
        letter-spacing: 2px;
        height: 48px;
        line-height: 50px;
    }
}

.youth .top-news__title {
    color: #FFF;
    background-color: #47b100;
    // background-color: $green;
}

.top-news__title::after {
    content: '';
    height: 38px;
    width: 16px;
    background-color: $gray-3;
    position: absolute;
    top: 0;
    right: -15px;
    left: auto;
    transform: skewX(-15deg);
    transform-origin: top;
    @extend .skew;
    -webkit-transform-origin: 0 0;
    // Tablet and below
    @include breakpoint(medium-max) {
        height: 29px;
    }
    // Phone and below
    @include breakpoint(small-max) {
        right: -15px;
        height: 48px;
        width: 16px;
    }
}

.youth .top-news__title::after {
    background-color: #47b100;
    // background-color: $green;
}

.top-news__summary {
    text-transform: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(224,224,224,0.915);
    z-index: 99;
    overflow: hidden;
    // Desktop and above
    @include breakpoint(medium-min) {
        height: 70px
    }
    // Desktop and below
    @include breakpoint(medium-max) {
        height: 55px;
    }
    // Tablet and below
    @include breakpoint(xsmall-max) {
        height: 50px;
    }
    // Phone and below
    @include breakpoint(small-max) {
        height: 100px;
    }
}

.youth .top-news__summary {
    background-color: #47b100;
    // background-color: $green;
    opacity: 0.8;
}

.top-news__summary p {
    // transition: opacity 0.1s;
    // opacity: 0;
    @extend .oswald;
    font-weight: 400;
    color: #333;
    padding: 0;
    letter-spacing: .5px;
    overflow: hidden;
    // Large desktop and above
    @include breakpoint(large-min) {
        font-size: 1.2em;
        line-height: 1.22em;
        height: 40px;
        margin: 13px 15px;
    }
    // Large desktop and below
    @include breakpoint(large-max) {
        font-size: 1.2em;
        line-height: 1.22em;
        height: 40px;
        margin: 15px;
    }
    // Desktop and below
    @include breakpoint(medium-max) {
        font-size: 1.07em;
        line-height: 1.2em;
        height: 35px;
        margin: 10px;
    }
    // Phone and below
    @include breakpoint(small-max) {
        font-size: 1.65em;
        line-height: 1.3em;
        height: 60px;
        margin: 20px 25px;
    }
}

.youth .top-news__summary p {
    color: #FFF;
}

.top-news__image {
    width: auto;
    height: 100%;
    // transform: translate(-50%, -50%);
    // -webkit-transform: translate(-50%, -50%);
    // left: 50%;
    // top: 50%;
    // position: absolute;
    // z-index: 9;
    @include breakpoint(medium-max) {
        width: auto;
        height: 100%;
    }
    @include breakpoint(small-max) {
        width: 100%;
        height: auto;
    }
}