h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    color: $gray-5;
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
}

h3 {

    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 400;
}


h4, h5, h6 {
    // text-transform: uppercase;
    letter-spacing: 0.25px;
    font-weight: 400;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    // font-size: 16px;
}

.bold {
    font-weight: bold;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
}


////////////////////////////////////////////////////////////////////////////////////////////////
// Section titles for full width container


.section__title {
    font-size: 1.7em;
    line-height: 1.2em;
    color: $gray-4;
    font-weight: 500;
    margin: 0;
    padding: 0 0 15px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include breakpoint(medium-max) {
        font-size: 1.8em;
        // line-height: 1.85em;
    }
    // Phone and below
    @include breakpoint(small-max) {
        font-size: 2.3em;
        // line-height: 1.75em;
        // padding-bottom: 30px;
    }
}

.section__title--large {
    @extend .section__title;
    font-size: 3.3em;
    line-height: 1.75em;
    padding: 35px 0;
    text-align: center;
    // Desktop and below
    @include breakpoint(medium-max) {
        font-size: 2.8em;
        line-height: 1.85em;
    }
    // Phone and below
    @include breakpoint(small-max) {
        font-size: 3.1em;
        line-height: 1.75em;
        padding: 0 0 30px 0;
    }
}

.section__title--large::after {
    content: '';
    display: block;
    background-color: $gray-4;
    width: 65px;
    height: 5px;
    margin: 0 auto;
    @extend .skew;
}


////////////////////////////////////////////////////////////////////////////////////////////////
// Section titles for 2 col main content body

.main-content__body .section__title--large {
    color: $gray-3;
    padding-top: 25px;
}

.main-content__body .section__title--large:after {
    background-color: $gray-3;
    height: 4px;
}
