h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    color: $gray-5;
    letter-spacing: 1.8px;
}

h1, h2, h3 {
    text-transform: uppercase;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    // font-size: 16px;
}

.bold {
    font-weight: bold;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
}

.section__title {
    color: $gray-4;
    font-size: 3.3em;
    font-weight: 500;
    line-height: 1.75em;
    margin: 0;
    padding: 0 0 35px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    // Desktop and below
    @include breakpoint(medium-max) {
        font-size: 2.8em;
        line-height: 1.85em;
    }
}

.section__title::after {
    content: '';
    display: block;
    background-color: $gray-4;
    width: 65px;
    height: 5px;
    margin: 0 auto;
    @extend .skew;
}
